main
	.banner
		.container
			.row
				.col-md-6.col-lg-8
					.banner__title
						h1 Мобильные сайты
						p Основным средством для восприятия окружающего мира являются глаза. Для наглядности вставим UI/UX теперь окей, поэтому зрительная информация 
						.banner__info-item
							| Стоимость работ	- 	от 25 000 &#8381;

						.banner__info-item
							| Срок разработки	- 	от 10 дней
						.banner__butn-holder
							a.butn(href="#") Консультация по услуге
				.col-md-6.col-lg-4
					.banner__img
						img(src="img/img-inner.png", alt="alt")
	section.text-section.section-blue
		.container
			.section__title.text-center
				h2 Lorem ipsum dolor sit amet
			p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. 
			p Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. 
			.text-center
				a.butn.butn_white(href="#" download) Скачать бриф
	section#why-we
		.container
			.section__title.section__title_black.text-center
				h2 Почему выбирают нас
			ul.tab-nav.clearfix
				li.active
					a(data-toggle='tab', href='#menu1') Стратегия
				li
					a(data-toggle='tab', href='#menu2') Креатив
				li
					a(data-toggle='tab', href='#menu3') Аналитика
				li
					a(data-toggle='tab', href='#menu4') Менеджмент
			.tab-content
				#menu1.tab-pane.fade.in.active
					.row
						.col-md-6.why-img
							img(src='img/img-why1.png', alt='')
						.col-md-6.why-text
							h3 Семь брифов на неделе
							p Мало думать, важно мыслить стратегически. Начинаем работу
							a.butn(data-toggle="modal" href="#myModal") Перейти в услуги
				#menu2.tab-pane.fade
					.row
						.col-md-6.why-img
							img(src='img/img-why1.png', alt='')
						.col-md-6.why-text
							h3 Семь брифов на неделе Креатив
							p Мало думать, важно мыслить стратегически. Начинаем работу
								|с клиентом с изучения желаний потребителя. Видим рекламный
								|мир через призму стратегического планирования. Клиент 
								|получает стратегию в зависимости от своих целей и задач.
							p Мало думать, важно мыслить стратегически. Начинаем работу
								|с клиентом с изучения желаний потребителя. Видим рекламный
								|мир через призму стратегического планирования. Клиент 
									
							a.butn(data-toggle="modal" href="#myModal") Перейти в услуги
				
				#menu3.tab-pane.fade
					.row
						.col-md-6.why-img
							img(src='img/img-why1.png', alt='')
						.col-md-6.why-text
							h3 Семь брифов на неделе Аналитика
							p Мало думать, важно мыслить стратегически. Начинаем работу
								|с клиентом с изучения желаний потребителя. Видим рекламный
								|мир через призму стратегического планирования. Клиент 
								|получает стратегию в зависимости от своих целей и задач.
							a.butn(data-toggle="modal" href="#myModal") Перейти в услуги
				
				#menu4.tab-pane.fade
					.row
						.col-md-6.why-img
							img(src='img/img-why1.png', alt='')
						.col-md-6.why-text
							h3 Семь брифов на неделе Менеджмент
							p Мало думать, важно мыслить стратегически. Начинаем работу
								|с клиентом с изучения желаний потребителя. Видим рекламный
								|мир через призму стратегического планирования. Клиент 
								|получает стратегию в зависимости от своих целей и задач.
							a.butn(data-toggle="modal" href="#myModal") Перейти в услуги
	section#call-to-action
		.container
			.get-phone
				.row
					.col-md-8
						.get-phone__text
							p Только телефон и мы в деле
					.col-md-4.form-wrap
						p Оставьте номер, и мы обсудим все грани развития вашего бизнеса
						form#get-phone-form(method='POST', onsubmit='return false')
							.input-row
								input(type='tel', name='phone' data-mask='+7 ( ____ )  ____  ____   ____' placeholder='+7 ( ____ )  ____  ____   ____')
	section#services-additional
		.container
			.section__title.section__title_black.text-center
				h2 Дополнительные услуги
			.services-wrap
				.row
					a.col-sm-4.service.service_add(href='#')
						.service__icon.icon-shop
						.service__title
							h3 Интернет-магазины
							p Увеличиваем прибыль
					a.col-sm-4.service.service_add(href='#')
						.service__icon.icon-seo 
						.service__title
							h3 Продвижение
							p Снижаем стоимость привлечения
					a.col-sm-4.service.service_add(href='#')
						.service__icon.icon-land
						.service__title
							h3 Одностраничники
							p Выводим бизнес в интернет
	
