main
	section#contacts-about-us
		.container
			.section__title
				h2 Коротко о нас
			.row
				.col-md-6
					p Специализируемся на разработке интернет-проектов и мобильных приложений по индивидуальным требованиям клиента. От проектирования до поддержки.
				.col-md-6
					p Специализируемся на разработке интернет-проектов и мобильных приложений по индивидуальным требованиям клиента. От проектирования до поддержки.
	section#text-overley
		.container
			.white-bg-text
				.row
					.col-md-6
						h3 Партнерские отношения и открытость
						p Сделать успешный функциональный сайт трудно, для этого, в первую очередь, необходимо обеспечить взаимопонимание и тесную работу между клиентом и разработчиком. 
					.col-md-6
						h3 Партнерские отношения и открытость
						p Сделать успешный функциональный сайт трудно, для этого, в первую очередь, необходимо обеспечить взаимопонимание и тесную работу между клиентом и разработчиком. 
					.col-md-6
						h3 Партнерские отношения и открытость
						p Сделать успешный функциональный сайт трудно, для этого, в первую очередь, необходимо обеспечить взаимопонимание и тесную работу между клиентом и разработчиком. 
					.col-md-6
						h3 Партнерские отношения и открытость
						p Сделать успешный функциональный сайт трудно, для этого, в первую очередь, необходимо обеспечить взаимопонимание и тесную работу между клиентом и разработчиком. 
							
	section.text-section.section-blue
		.container
			.section__title.text-center
				h2 Lorem ipsum dolor sit amet
			p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. 
			p Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. 
			.text-center
				a.butn.butn_white(href="#" download) Скачать бриф
	
