main
	.banner
		.container
			.row
				.col-md-6.col-lg-8
					.banner__title
						h1 Мы создаем красивые продающие сайты
						p Основным средством для восприятия окружающего мира являются глаза. Для наглядности вставим UI/UX теперь окей, поэтому зрительная информация 
						.banner__butn-holder
							a.butn(href="#") Консультация
				.col-md-6.col-lg-4
					.banner__img
						img(src="img/img-banner.png", alt="alt")
	section#services.section-blue
		.container
			.section__title
				h2 Наши услуги
			.services-wrap
				.row
					a.col-sm-6.service(href="#")
						.service__icon.icon-mob
						.service__title
							h3 Мобильные сайты
							p Сделаем Ваш сайт удобным
					a.col-sm-6.service(href="#")
						.service__icon.icon-land
						.service__title
							h3 Одностраничники
							p Выводим бизнес в интернет
					a.col-sm-6.service(href="#")
						.service__icon.icon-shop
						.service__title
							h3 Интернет-магазины
							p Увеличиваем прибыль
					a.col-sm-6.service(href="#")
						.service__icon.icon-seo 
						.service__title
							h3 Продвижение
							p Снижаем стоимость привлечения
	section#call-to-action
		.container
			.get-phone
				.row
					.col-md-8
						.get-phone__text
							p Только телефон и мы в деле
					.col-md-4.form-wrap
						p Оставьте номер, и мы обсудим все грани развития вашего бизнеса
						form#get-phone-form(method='POST', onsubmit='return false')
							.input-row
								input(type='tel', name='phone' data-mask='+7 ( ____ )  ____  ____   ____' placeholder='+7 ( ____ )  ____  ____   ____')
	section#why-we
		.container
			.section__title.section__title_black
				h2 Почему выбирают нас
			.slider-nav
				.slider-nav__item
					p Стратегия
				.slider-nav__item
					p Креатив
				.slider-nav__item
					p Аналитика
				.slider-nav__item
					p Менеджмент
			.slider-for
				.slider-for-item
					.row
						.col-md-6.why-img
							img(src='img/img-why1.png', alt='')
						.col-md-6.why-text
							h3 Семь брифов на неделе
							p Мало думать, важно мыслить стратегически. Начинаем работу
				.slider-for-item
					.row
						.col-md-6.why-img
							img(src='img/img-why1.png', alt='')
						.col-md-6.why-text
							h3 Семь брифов на неделе Креатив
							p Мало думать, важно мыслить стратегически. Начинаем работу
								|с клиентом с изучения желаний потребителя. Видим рекламный
								|мир через призму стратегического планирования. Клиент 
								|получает стратегию в зависимости от своих целей и задач.
							p Мало думать, важно мыслить стратегически. Начинаем работу
								|с клиентом с изучения желаний потребителя. Видим рекламный
								|мир через призму стратегического планирования. Клиент 
				.slider-for-item
					.row
						.col-md-6.why-img
							img(src='img/img-why1.png', alt='')
						.col-md-6.why-text
							h3 Семь брифов на неделе Аналитика
							p Мало думать, важно мыслить стратегически. Начинаем работу
								|с клиентом с изучения желаний потребителя. Видим рекламный
								|мир через призму стратегического планирования. Клиент 
								|получает стратегию в зависимости от своих целей и задач.
				.slider-for-item
					.row
						.col-md-6.why-img
							img(src='img/img-why1.png', alt='')
						.col-md-6.why-text
							h3 Семь брифов на неделе Менеджмент
							p Мало думать, важно мыслить стратегически. Начинаем работу
								|с клиентом с изучения желаний потребителя. Видим рекламный
								|мир через призму стратегического планирования. Клиент 
								|получает стратегию в зависимости от своих целей и задач.
			.why-we__butn-holder
				a.butn(data-toggle="modal" href="#myModal") Перейти в услуги
					
	section#our-works
		.container
			.section__title.section__title_black
				h2 Мы разработали
			.our-works-wrapper
				a(href="#").col-xs-6.col-sm-3.work
					.work__img
						img(src="img/img-work1.png", alt="alt")
				a(href="#").col-xs-6.col-sm-3.work
					.work__img
						img(src="img/img-work2.png", alt="alt")
				a(href="#").col-xs-6.col-sm-3.work
					.work__img
						img(src="img/img-work3.png", alt="alt")
				a(href="#").col-xs-6.col-sm-3.work
					.work__img
						img(src="img/img-work4.png", alt="alt")
	section#testemonials.section-blue
		.container
			.section__title
				h2 Отзывы наших клиентов
			.slider-wrapper
				.slider
					.slider__item
						.slider__img
							img(src='img/img-testemonials1.png' alt='')
						.slider__title Дмитрий медведев
						.slider__text
							| Words cannot describe how satisfied I am with this move. On a relatively short notice, the rapid moving company came to my rescue with a convenient appointment. They arrived within the specified time window and I could tell as soon as they got to the unit, they meant business. They wasted no time getting everything into neatly wrapped boxes of plastic and they were fast. 
					.slider__item
						.slider__img
							img(src='img/img-testemonials1.png' alt='')
						.slider__title Дмитрий медведев
						.slider__text
							| Words cannot describe how satisfied I am with this move. On a relatively short notice, the rapid moving company came to my rescue with a convenient appointment. They arrived within the specified time window and I could tell as soon as they got to the unit, they meant business. They wasted no time getting everything into neatly wrapped boxes of plastic and they were fast. 
					.slider__item
						.slider__img
							img(src='img/img-testemonials1.png' alt='')
						.slider__title Дмитрий медведев
						.slider__text
							| Words cannot describe how satisfied I am with this move. On a relatively short notice, the rapid moving company came to my rescue with a convenient appointment. They arrived within the specified time window and I could tell as soon as they got to the unit, they meant business. They wasted no time getting everything into neatly wrapped boxes of plastic and they were fast. 
					.slider__item
						.slider__img
							img(src='img/img-testemonials1.png' alt='')
						.slider__title Дмитрий медведев
						.slider__text
							| Words cannot describe how satisfied I am with this move. On a relatively short notice, the rapid moving company came to my rescue with a convenient appointment. They arrived within the specified time window and I could tell as soon as they got to the unit, they meant business. They wasted no time getting everything into neatly wrapped boxes of plastic and they were fast. 
