main
	section#services.section-blue
		.container
			.section__title
				h2 Наши услуги
			
			.services-wrap.margin-bottom130
				.row
					a.col-sm-6.service(href="#")
						.service__icon.icon-mob
						.service__title
							h3 Мобильные сайты
							p Сделаем Ваш сайт удобным
					a.col-sm-6.service(href="#")
						.service__icon.icon-land
						.service__title
							h3 Одностраничники
							p Выводим бизнес в интернет
					a.col-sm-6.service(href="#")
						.service__icon.icon-shop
						.service__title
							h3 Интернет-магазины
							p Увеличиваем прибыль
					a.col-sm-6.service(href="#")
						.service__icon.icon-seo 
						.service__title
							h3 Продвижение
							p Снижаем стоимость привлечения
			.slider-wrapper
				.slider
					.slider__item.slider__item_text
						.slider__text
							| Words cannot describe how satisfied I am with this move. On a relatively short notice, the rapid moving company came to my rescue with a convenient appointment. They arrived within the specified time window and I could tell as soon as they got to the unit, they meant business. They wasted no time getting everything into neatly wrapped boxes of plastic and they were fast. 
					.slider__item.slider__item_text
						.slider__text
							| Words cannot describe how satisfied I am with this move. On a relatively short notice, the rapid moving company came to my rescue with a convenient appointment. They arrived within the specified time window and I could tell as soon as they got to the unit, they meant business. They wasted no time getting everything into neatly wrapped boxes of plastic and they were fast. 
					.slider__item.slider__item_text
						.slider__text
							| Words cannot describe how satisfied I am with this move. On a relatively short notice, the rapid moving company came to my rescue with a convenient appointment. They arrived within the specified time window and I could tell as soon as they got to the unit, they meant business. They wasted no time getting everything into neatly wrapped boxes of plastic and they were fast. 
					.slider__item.slider__item_text
						.slider__text
							| Words cannot describe how satisfied I am with this move. On a relatively short notice, the rapid moving company came to my rescue with a convenient appointment. They arrived within the specified time window and I could tell as soon as they got to the unit, they meant business. They wasted no time getting everything into neatly wrapped boxes of plastic and they were fast. 
