footer
	.container.footer-wrap
		.row
			.col-md-4.footer__contacts
				h3 Есть бизнес-задача?
					br
					|Мы ее решим!
				.footer__mail
					p Консультация ни к чему Вас не обязывает, но дает ответы на многие вопросы.
					p 
						a(href="tel:+79029020292") +7 902 902 02 92
					p 
						a(href="mailto:info@2ski.ru") info@2ski.ru
				.footer_address
					p 105234, Россия, Моска,
						br
						|Бизнес переулок, дом 3, строение 12
					a(href="https://goo.gl/maps/a4TzZM7wqvw" target='_blank') Показать на карте
			.col-md-8.footer__form
				form#message-form(method='POST', onsubmit='return false')
					.row
						.col-md-6
							.input-row.input-row_border
								input(type='text', name='name', placeholder='' required)
								span *Ваше имя
							.input-row.input-row_border
								input(type='tel', name='phone', placeholder='' required)
								span *Номер телефона
							.input-row.input-row_border.select-placeholder-subject
								select
									option
									option(value='volvo') Volvo
									option(value='saab') Saab
									option(value='mercedes') Mercedes
									option(value='audi') Audi
							.input-row.text-center
								a(href="javascript:void(0)")#toggle-details 
									span Указать детали
									span Скрыть детали
							.input-row.input-row_border
								button.butn(type='submit', data-rel='message-form')
									| Отправить
						.col-md-6.details-col
							.input-row.input-row_border.select-placeholder-price
								select
									option
									option(value='1000') 1000
									option(value='10000') 10000
									option(value='100000') 100000
									option(value='1000000') 100000
								span 
							.input-row.input-row_border
								textarea.autogrow-short(name='message')
								span.textarea-placeholder Комментарий
							.input-row.input-row_border
								input(type='file' name='file')
						
.modal-hidden
	#thank-you.modal.my-modal.fade.popup(role='dialog')
		.modal-dialog
			.modal-content
				.close-x(type='button', data-dismiss='modal')
				.form-wrapper
					.form__title Спасибо!
					.input-row
						b Сообщение отправлено. Мы свяжемся с вами в ближайшее время
					.input-row
						button.btun(type='button', data-dismiss='modal')
							| закрыть
