.menu-container
	.menu-sliders
	.menu-sliders
	.menu-sliders
	.menu
		ul
			li
				a(href="#") Главная
			li
				a(href="#") Наши услуги
			li
				a(href="#") Почему мы?
			li
				a.toggleForm(href="javascript:void(0)") Отправить заявку
		.menuform-container
			.menuform__title
				span.toggleForm &#8249;
				| Напишите нам
			form#menuform(method='POST', onsubmit='return false')
				.input-row
					input(type='text', name='name' required)
					span Имя
				.input-row
					input(type='tel', name='phone', required)
					span Телефон
				.input-row
					input(type='email', name='email', placeholder='')
					span E-mail
				.input-row
					textarea.autogrow-short(name='message', placeholder='')
					span.textarea-placeholder Ваши задачи
				.input-row
					button.butn(type='submit', data-rel='message-form')
						| Отправить
ul.grid.container
	li
	li
	li
	li
	li
	li
	li
header
	.container
		.row
			.col-xs-3#lagnswitch
				ul
					li
						a(href="#").current RUS
					li
						a(href="#") ENG
			.col-xs-6.logo
				a(href="index.html")
					img(src="img/logo.png", alt="logo 2ski")
			.col-xs-3.hamburger-col
				#hamburger-wrap
					#hamburger(role='button')
						span
						span
						span
						span
					p меню
	
