@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,700&subset=cyrillic-ext");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  outline: none; }

*:active, *:focus {
  outline: none !important;
  text-decoration: none !important; }

html {
  height: 100%; }

body {
  min-height: 100%;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: 300;
  position: relative; }

.clearfix:after,
.clearfix:before {
  content: ' ';
  display: table;
  clear: both; }

h1,
h2,
h3,
h4,
h5,
h6,
ul,
ol,
p {
  margin: 0;
  padding: 0; }

.row-eq-height {
  height: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: -moz-box;
  display: flex; }

/*---=== buttons ===---*/
.butn {
  position: relative;
  min-width: 280px;
  display: inline-block;
  -webkit-border-radius: 60px;
     -moz-border-radius: 60px;
          border-radius: 60px;
  -webkit-box-shadow: 0 15px 30px rgba(43, 54, 62, 0.3);
     -moz-box-shadow: 0 15px 30px rgba(43, 54, 62, 0.3);
          box-shadow: 0 15px 30px rgba(43, 54, 62, 0.3);
  background-color: #0085ff;
  border: none;
  color: #ffffff;
  font-size: 24px;
  font-weight: 300;
  padding: 16px 35px 17px;
  text-align: center;
  -webkit-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
  z-index: 1; }

.butn:hover {
  background: #265a88;
  text-decoration: none;
  color: #fff; }

.butn_white {
  background-color: #fff;
  color: #1b3f59; }

/*---=== end buttons ===---*/
.icon-land {
  background-image: url(../img/sprite.png);
  background-position: -166px 0px;
  width: 72px;
  height: 75px; }

.icon-mob {
  background-image: url(../img/sprite.png);
  background-position: 0px 0px;
  width: 73px;
  height: 87px; }

.icon-seo {
  background-image: url(../img/sprite.png);
  background-position: 0px -92px;
  width: 68px;
  height: 78px;
  left: 33px; }

.icon-shop {
  background-image: url(../img/sprite.png);
  background-position: -78px 0px;
  width: 83px;
  height: 69px; }

/*---=== forms style ===---*/
.input-row {
  position: relative;
  margin-bottom: 30px; }

.input-row input,
.input-row select,
.input-row textarea {
  width: 100%;
  padding: 18px 20px 17px;
  line-height: 1;
  font-size: 18px;
  font-weight: 300 !important;
  background-color: #f5f8fa !important;
  border-color: transparent;
  color: #28353e;
  -webkit-border-radius: 60px;
     -moz-border-radius: 60px;
          border-radius: 60px;
  transition: border-color 0.15s ease, box-shadow 0.15s ease, -webkit-box-shadow 0.15s ease; }

.input-row input[type=file] {
  height: 60px; }

.input-row textarea {
  height: 60px;
  line-height: 1.1;
  max-width: 100%;
  max-height: 150px !important;
  -webkit-border-radius: 28px;
     -moz-border-radius: 28px;
          border-radius: 28px; }

.input-row span {
  position: absolute;
  top: 18px;
  left: 22px;
  font-size: 18px;
  font-weight: 300;
  line-height: 1;
  padding-top: 5px;
  z-index: 9;
  font-size: 18px;
  font-weight: 300;
  color: #7f7f7f;
  pointer-events: none;
  -webkit-transition: all 0.1s ease-in-out;
  -o-transition: all 0.1s ease-in-out;
  -moz-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out; }

.input-row span.float {
  font-size: 14px;
  top: -21px;
  color: #0085ff; }

.input-row .butn {
  width: 100%; }

.input-row_border input:focus,
.input-row_border textarea:focus {
  border: 2px solid #0085ff;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(51, 102, 255, 0.6);
     -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(51, 102, 255, 0.6);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(51, 102, 255, 0.6); }

.input-row_border textarea {
  height: 200px !important;
  max-height: 200px !important; }

fieldset{
    padding: 0;
    border: none;
  position: relative;
}
input + label, textarea + label {
    position: absolute;
    top: 18px;
    left: 22px;
    font-size: 18px;
    font-weight: 300;
    line-height: 1;
    padding-top: 5px;
    z-index: 9;
    font-size: 18px;
    font-weight: 300;
    color: #7f7f7f;
    pointer-events: none;
    -webkit-transition: all 0.1s ease-in-out;
    -o-transition: all 0.1s ease-in-out;
    -moz-transition: all 0.1s ease-in-out;
    transition: all 0.1s ease-in-out; }
.get-phone input:focus + label, .get-phone label.stay{
    display: none;
}

input:focus + label,
textarea:focus + label,
label.stay {
    font-size: 14px;
    top: -21px;
    color: #0085ff;
}
.jq-file + label{
    display: none;
}
.jq-selectbox {
  width: 100% !important;
  position: relative; }

.jq-selectbox:before {
  display: block;
  content: '';
  position: absolute;
  top: 18px;
  left: 22px;
  font-size: 18px;
  font-weight: 300;
  line-height: 1;
  padding-top: 5px;
  z-index: 35;
  font-size: 18px;
  font-weight: 300;
  color: #7f7f7f;
  pointer-events: none;
  -webkit-transition: all 0.1s ease-in-out;
  -o-transition: all 0.1s ease-in-out;
  -moz-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out; }

.jq-selectbox:after {
  content: "";
  display: block;
  position: absolute;
  top: 30px;
  left: 8px;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 5px 4px 0 4px;
  border-color: #808080 transparent transparent transparent; }

.jq-selectbox.changed:before, .jq-selectbox.opened:before {
  font-size: 14px;
  top: -21px;
  color: #0085ff; }

.jq-selectbox__select-text {
  width: 100% !important;
  height: 60px;
  -webkit-border-radius: 60px;
     -moz-border-radius: 60px;
          border-radius: 60px;
  padding: 21px 20px 21px 26px;
  line-height: 1;
  font-size: 18px;
  background-color: #f5f8fa !important;
  color: #28353e; }

.jq-selectbox.opened .jq-selectbox__select-text {
  border: 2px solid #0085ff;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(51, 102, 255, 0.6);
     -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(51, 102, 255, 0.6);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(51, 102, 255, 0.6); }

.jq-selectbox__dropdown {
  z-index: 35;
  top: -webkit-calc(100% + 2px);
  top: -moz-calc(100% + 2px);
  top: calc(100% + 2px);
  width: 100%;
  -webkit-box-shadow: 0 15px 30px rgba(43, 54, 62, 0.3);
     -moz-box-shadow: 0 15px 30px rgba(43, 54, 62, 0.3);
          box-shadow: 0 15px 30px rgba(43, 54, 62, 0.3);
  -webkit-border-radius: 5px;
     -moz-border-radius: 5px;
          border-radius: 5px;
  background: #fff; }

.jq-selectbox__dropdown ul li {
  padding: 10px 20px; }

.jq-selectbox__dropdown ul li:hover {
  background-color: #0085ff;
  color: #fff; }

.select-placeholder-subject .jq-selectbox:before {
  content: '*Меня интересует'; }

.select-placeholder-price .jq-selectbox:before {
  content: ' *Предполагаемый бюджет'; }

#toggle-details {
  display: inline-block;
  color: #0085ff;
  font-size: 20px;
  font-weight: 300;
  line-height: 1;
  text-decoration: underline;
  height: 29px; }

#toggle-details span {
  position: static !important;
  color: inherit;
  text-decoration: underline; }

#toggle-details span:nth-child(2) {
  display: none; }

#toggle-details.open span:nth-child(1) {
  display: none; }

#toggle-details.open span:nth-child(2) {
  display: block; }

#toggle-details:hover {
  text-decoration: none;
  color: #0085ff; }

#toggle-details:hover span {
  text-decoration: none; }

.jq-file {
  width: 100%;
  height: 60px;
  padding: 0 20px;
  line-height: 60px;
  font-size: 18px;
  -webkit-border-radius: 60px;
     -moz-border-radius: 60px;
          border-radius: 60px;
  background-color: #f5f8fa;
  border-color: transparent;
  color: #7f7f7f;
  padding-right: 125px; }

.jq-file.changed {
  overflow: visible; }

.jq-file.changed span {
  font-size: 14px;
  top: -21px;
  color: #0085ff; }

.jq-file:before {
  display: block;
  content: 'Прикрепить файл';
  position: absolute;
  top: 18px;
  left: 22px;
  font-size: 18px;
  font-weight: 300;
  line-height: 1;
  padding-top: 5px;
  z-index: 35;
  font-size: 18px;
  font-weight: 300;
  color: #7f7f7f;
  pointer-events: none;
  -webkit-transition: all 0.1s ease-in-out;
  -o-transition: all 0.1s ease-in-out;
  -moz-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out; }

.jq-file.changed:before {
  font-size: 14px;
  top: -21px;
  color: #0085ff; }

.jq-file__browse {
  position: absolute;
  right: 17px;
  top: 50%;
  -webkit-transform: translateY(-50%);
     -moz-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
       -o-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 119px;
  height: 27px;
  background-color: #0085ff;
  line-height: 27px;
  color: #fff;
  font-size: 14px;
  font-weight: 300;
  text-align: center; }

.jq-file__browse:before {
  content: "";
  display: block;
  position: absolute;
  width: 16px;
  height: 15px;
  background: url("../img/ico-clip.png");
  top: 6px;
  right: 16px; }

/*---=== end forms style ===---*/
header {
  padding: 80px 0; }

.logo {
  text-align: center; }

.logo img {
  max-width: 100%; }

#hamburger-wrap,
#lagnswitch {
  position: relative;
  z-index: 9; }

#lagnswitch ul {
  list-style: none;
  padding-top: 46px;
  color: #20333d; }

#lagnswitch ul li {
  display: inline-block; }

#lagnswitch ul li + li {
  margin-left: 5px; }

#lagnswitch ul li + li:before {
  display: inline-block;
  content: '/';
  margin-right: 5px;
  color: inherit; }

#lagnswitch ul a {
  color: inherit; }

#lagnswitch ul a.current {
  text-decoration: underline; }

#hamburger-wrap {
  padding-top: 44px;
  width: 110px;
  float: right;
  color: #20333d;
  font-size: 20px;
  font-weight: 400;
  text-transform: uppercase;
  cursor: pointer;
  -webkit-transition: color 0.3s ease-in-out;
  -o-transition: color 0.3s ease-in-out;
  -moz-transition: color 0.3s ease-in-out;
  transition: color 0.3s ease-in-out; }

#hamburger-wrap p {
  display: inline-block;
  margin: 0; }

#hamburger {
  display: inline-block;
  width: 30px;
  height: 15px;
  position: relative;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
      transform: rotate(0deg);
  -webkit-transition: 0.5s ease-in-out;
  -moz-transition: 0.5s ease-in-out;
  -o-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out; }

#hamburger span {
  display: block;
  position: absolute;
  height: 3px;
  width: 100%;
  background: #0084ff;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
      transform: rotate(0deg);
  -webkit-transition: 0.25s ease-in-out;
  -moz-transition: 0.25s ease-in-out;
  -o-transition: 0.25s ease-in-out;
  transition: 0.25s ease-in-out; }

#hamburger span:nth-child(1) {
  top: 0; }

#hamburger span:nth-child(2),
#hamburger span:nth-child(3) {
  top: 6px; }

#hamburger span:nth-child(4) {
  top: 12px; }

#hamburger.open span:nth-child(1) {
  top: 9px;
  width: 0;
  left: 50%; }

#hamburger.open span:nth-child(2) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
      transform: rotate(45deg); }

#hamburger.open span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
      transform: rotate(-45deg); }

#hamburger.open span:nth-child(4) {
  top: 9px;
  width: 0;
  left: 50%; }

@-webkit-keyframes left-right {
  0% {
    -webkit-transform: translateX(-5px);
            transform: translateX(-5px); }
  10% {
    -webkit-transform: translateX(5px);
            transform: translateX(5px); }
  20% {
    -webkit-transform: translateX(-5px);
            transform: translateX(-5px); }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0); } }

@-moz-keyframes left-right {
  0% {
    -moz-transform: translateX(-5px);
         transform: translateX(-5px); }
  10% {
    -moz-transform: translateX(5px);
         transform: translateX(5px); }
  20% {
    -moz-transform: translateX(-5px);
         transform: translateX(-5px); }
  100% {
    -moz-transform: translateX(0);
         transform: translateX(0); } }

@-o-keyframes left-right {
  0% {
    -o-transform: translateX(-5px);
       transform: translateX(-5px); }
  10% {
    -o-transform: translateX(5px);
       transform: translateX(5px); }
  20% {
    -o-transform: translateX(-5px);
       transform: translateX(-5px); }
  100% {
    -o-transform: translateX(0);
       transform: translateX(0); } }

@keyframes left-right {
  0% {
    -webkit-transform: translateX(-5px);
       -moz-transform: translateX(-5px);
         -o-transform: translateX(-5px);
            transform: translateX(-5px); }
  10% {
    -webkit-transform: translateX(5px);
       -moz-transform: translateX(5px);
         -o-transform: translateX(5px);
            transform: translateX(5px); }
  20% {
    -webkit-transform: translateX(-5px);
       -moz-transform: translateX(-5px);
         -o-transform: translateX(-5px);
            transform: translateX(-5px); }
  100% {
    -webkit-transform: translateX(0);
       -moz-transform: translateX(0);
         -o-transform: translateX(0);
            transform: translateX(0); } }

.menu-container {
  z-index: 2;
  position: absolute;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
     -moz-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  overflow: hidden;
  height: 200vh;
  left: 0;
  right: 0;
  pointer-events: none; }

.menu {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
     -moz-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  height: 100vh;
  width: 100vw;
  z-index: 3;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  -webkit-transform: translateY(-100%);
     -moz-transform: translateY(-100%);
      -ms-transform: translateY(-100%);
       -o-transform: translateY(-100%);
          transform: translateY(-100%);
  -webkit-transition: -webkit-transform 0.5s;
  transition: -webkit-transform 0.5s;
  -o-transition: -o-transform 0.5s;
  -moz-transition: transform 0.5s, -moz-transform 0.5s;
  transition: transform 0.5s;
  transition: transform 0.5s, -webkit-transform 0.5s, -moz-transform 0.5s, -o-transform 0.5s;
  -webkit-transition-delay: 0.5s;
     -moz-transition-delay: 0.5s;
       -o-transition-delay: 0.5s;
          transition-delay: 0.5s;
  visibility: hidden; }

.menu ul {
  list-style: none;
  -webkit-transition: -webkit-transform 0.5s;
  transition: -webkit-transform 0.5s;
  -o-transition: -o-transform 0.5s;
  -moz-transition: transform 0.5s, -moz-transform 0.5s;
  transition: transform 0.5s;
  transition: transform 0.5s, -webkit-transform 0.5s, -moz-transform 0.5s, -o-transform 0.5s; }

.menu ul li {
  font-family: 'Roboto', sans-serif;
  text-align: center; }

.menu ul li a {
  display: inline-block;
  font-family: 'Roboto', sans-serif;
  color: #ffffff;
  font-family: Roboto;
  font-size: 58px;
  font-weight: 300;
  cursor: pointer; }

.menu ul li a:hover {
  text-decoration: none;
  opacity: .7; }

.menu ul.openForm {
  -webkit-transform: translateX(900%);
     -moz-transform: translateX(900%);
      -ms-transform: translateX(900%);
       -o-transform: translateX(900%);
          transform: translateX(900%); }

.menu-sliders {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
     -moz-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
     -moz-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: -webkit-box-flex 0.45s, -webkit-flex 0.45s;
  transition: -webkit-box-flex 0.45s, -webkit-flex 0.45s;
  -o-transition: flex 0.45s;
  -moz-transition: flex 0.45s, -moz-box-flex 0.45s;
  transition: flex 0.45s;
  transition: flex 0.45s, -webkit-box-flex 0.45s, -webkit-flex 0.45s, -moz-box-flex 0.45s, -ms-flex 0.45s; }

.menu-sliders:nth-child(2) {
  -webkit-box-flex: 1;
  -webkit-flex: 1 0 100%;
     -moz-box-flex: 1;
      -ms-flex: 1 0 100%;
          flex: 1 0 100%;
  background: transparent; }

.menu-sliders:nth-child(odd) {
  background-color: #21333d; }

body.menu-open {
  position: relative; }

body.menu-open .menu-sliders:nth-child(2) {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 0;
     -moz-box-flex: 0;
      -ms-flex: 0 0 0;
          flex: 0 0 0; }

body.menu-open .menu {
  -webkit-transform: translateY(0%);
     -moz-transform: translateY(0%);
      -ms-transform: translateY(0%);
       -o-transform: translateY(0%);
          transform: translateY(0%);
  visibility: visible;
  pointer-events: all; }

body.menu-open #hamburger-wrap,
body.menu-open #lagnswitch ul {
  color: #fff; }

body.menu-open #hamburger span {
  background: #fff; }

.menuform__title {
  color: #fff;
  font-size: 50px;
  font-weight: 700;
  line-height: 1;
  margin-bottom: 50px; }

.menuform__title .toggleForm {
  display: inline-block;
  margin-right: 48px;
  font-size: 85px;
  position: relative;
  top: 5px;
  cursor: pointer; }

.menuform__title .toggleForm:hover {
  -webkit-animation: left-right 1s;
     -moz-animation: left-right 1s;
       -o-animation: left-right 1s;
          animation: left-right 1s; }

.menuform-container {
  width: 420px;
  max-width: 90% !important;
  position: absolute;
  left: -9999px;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  -moz-transition: all 0.5s;
  transition: all 0.5s; }

.menuform-container.openForm {
  left: 50%;
  -webkit-transform: translateX(-50%);
     -moz-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
       -o-transform: translateX(-50%);
          transform: translateX(-50%); }

.grid {
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
     -moz-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
       -o-transform: translateX(-50%);
          transform: translateX(-50%);
  top: 0;
  bottom: 0;
  list-style: none; }

.grid li {
  width: 1px;
  height: 100%;
  opacity: .2;
  background-color: #f1f1f1;
  position: absolute;
  z-index: 0;
  top: 0;
  pointer-events: none; }

.grid li:first-child {
  left: -25%; }

.grid li:nth-child(2) {
  left: 15px; }

.grid li:nth-child(3) {
  left: 25%; }

.grid li:nth-child(4) {
  left: 50%; }

.grid li:nth-child(5) {
  left: 75%; }

.grid li:nth-child(6) {
  left: -webkit-calc(100% - 15px);
  left: -moz-calc(100% - 15px);
  left: calc(100% - 15px); }

.grid li:last-child {
  left: 125%; }

/*---=== section.banner ===---*/
.banner {
  padding-bottom: 105px; }

.banner__butn-holder {
  margin-bottom: 30px;
  padding-left: 84px;
  position: relative; }

.banner__butn-holder:before {
  content: "";
  display: block;
  position: absolute;
  width: 151px;
  height: 216px;
  bottom: 0;
  left: -88px;
  background: url("../img/img-arrow.png"); }

.banner__title {
  padding-top: 60px;
  position: relative;
  margin-bottom: 67px; }

.banner__title h1 {
  color: #20333d;
  font-size: 70px;
  font-weight: 700;
  line-height: 1;
  letter-spacing: -1px;
  margin-bottom: 60px; }

.banner__title p {
  color: #20333d;
  font-size: 20px;
  font-weight: 300;
  line-height: 1.3;
  margin-bottom: 30px; }

/*---=== section#services ===---*/
#services {
  padding: 40px 0 130px; }

.section__title {
  margin-bottom: 36px; }

.section__title h2 {
  color: #ffffff;
  font-size: 50px;
  font-weight: 700;
  line-height: 1; }

.section-blue {
  background: #2655d0;
  background: -webkit-gradient(linear, left top, left bottom, from(#2655d0), to(#0084ff));
  background: -webkit-linear-gradient(top, #2655d0 0%, #0084ff 100%);
  background: -moz-linear-gradient(top, #2655d0 0%, #0084ff 100%);
  background: -o-linear-gradient(top, #2655d0 0%, #0084ff 100%);
  background: linear-gradient(to bottom, #2655d0 0%, #0084ff 100%); }

.services-wrap {
  background: #fff;
  padding-top: 80px;
  text-align: center; }

@-webkit-keyframes move {
  0% {
    top: 0; }
  5% {
    top: -2px; }
  10% {
    top: -5px; }
  20% {
    top: -10px; }
  40% {
    top: -20px; }
  60% {
    top: -10px; }
  70% {
    top: -5px; }
  80% {
    top: -5px; }
  90% {
    top: -0px; } }

@-moz-keyframes move {
  0% {
    top: 0; }
  5% {
    top: -2px; }
  10% {
    top: -5px; }
  20% {
    top: -10px; }
  40% {
    top: -20px; }
  60% {
    top: -10px; }
  70% {
    top: -5px; }
  80% {
    top: -5px; }
  90% {
    top: -0px; } }

@-o-keyframes move {
  0% {
    top: 0; }
  5% {
    top: -2px; }
  10% {
    top: -5px; }
  20% {
    top: -10px; }
  40% {
    top: -20px; }
  60% {
    top: -10px; }
  70% {
    top: -5px; }
  80% {
    top: -5px; }
  90% {
    top: -0px; } }

@keyframes move {
  0% {
    top: 0; }
  5% {
    top: -2px; }
  10% {
    top: -5px; }
  20% {
    top: -10px; }
  40% {
    top: -20px; }
  60% {
    top: -10px; }
  70% {
    top: -5px; }
  80% {
    top: -5px; }
  90% {
    top: -0px; } }

.service {
  display: block;
  position: relative;
  padding-left: -webkit-calc(112px + 9%);
  padding-left: -moz-calc(112px + 9%);
  padding-left: calc(112px + 9%);
  min-height: 87px;
  margin-bottom: 80px; }

.service__icon {
  position: absolute;
  left: 108px;
  top: 0; }

.service__title {
  padding-top: 10px;
  text-align: left; }

.service__title h3 {
  color: #2c3f47;
  font-size: 30px;
  font-weight: 400;
  line-height: 1;
  margin-bottom: 8px; }

.service__title p {
  color: #20333d;
  font-size: 18px;
  font-weight: 300; }

.service:hover {
  text-decoration: none;
  -webkit-animation: move 0.5s linear;
     -moz-animation: move 0.5s linear;
       -o-animation: move 0.5s linear;
          animation: move 0.5s linear; }

/*---=== call-to-action ===---*/
#call-to-action {
  padding: 130px 0; }

.get-phone {
  padding: 75px;
  background-color: #20333d; }

.get-phone .row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%; }

.get-phone__text {
  display: table;
  color: #ffffff;
  font-size: 40px;
  font-weight: 300;
  text-transform: uppercase;
  line-height: 1;
  vertical-align: middle;
  height: 100%; }

.get-phone__text P {
  display: table-cell;
  vertical-align: middle; }

.form-wrap p {
  color: #ffffff;
  font-size: 16px;
  font-weight: 300;
  line-height: 1.3;
  margin-bottom: 20px; }

/*---===  #why-we ===---*/
#why-we {
  padding-top: 40px;
  background-color: #fafafa; }

.section__title_black h2 {
  color: #000; }

.tab-nav {
  list-style: none;
  display: block;
  text-align: justify;
  line-height: 0;
  background-color: #fff;
  margin-bottom: 90px; }

.tab-nav:after {
  width: 100%;
  height: 0;
  visibility: hidden;
  overflow: hidden;
  content: "";
  display: inline-block; }

.tab-nav li {
  display: table-cell;
  width: 1%;
  text-align: center;
  line-height: 1;
  margin-bottom: -5px;
  position: relative;
  top: 0; }

.tab-nav li a {
  display: block;
  color: #20333d;
  font-size: 24px;
  font-weight: 400;
  text-transform: uppercase;
  padding: 38px 40px 37px;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  position: relative; }

.tab-nav li a:hover {
  -webkit-box-shadow: 0 15px 30px rgba(43, 54, 62, 0.3);
     -moz-box-shadow: 0 15px 30px rgba(43, 54, 62, 0.3);
          box-shadow: 0 15px 30px rgba(43, 54, 62, 0.3);
  background-color: #0085ff;
  text-decoration: none;
  color: #fff;
  -webkit-transform: scale(1.1);
     -moz-transform: scale(1.1);
      -ms-transform: scale(1.1);
       -o-transform: scale(1.1);
          transform: scale(1.1);
  z-index: 999; }

.tab-nav li.active a {
  -webkit-box-shadow: 0 15px 30px rgba(43, 54, 62, 0.3);
     -moz-box-shadow: 0 15px 30px rgba(43, 54, 62, 0.3);
          box-shadow: 0 15px 30px rgba(43, 54, 62, 0.3);
  background-color: #0085ff;
  text-decoration: none;
  color: #fff;
  -webkit-transform: scale(1.1);
     -moz-transform: scale(1.1);
      -ms-transform: scale(1.1);
       -o-transform: scale(1.1);
          transform: scale(1.1); }

.slider-nav {
  margin-bottom: 50px; }

.slider-nav__item {
  cursor: pointer;
  text-align: center; }

.slider-nav__item p {
  text-align: center;
  display: block;
  color: #20333d;
  font-size: 24px;
  font-weight: 400;
  text-transform: uppercase;
  padding: 18px 20px 17px;
  border: 2px solid transparent;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  -webkit-border-radius: 69px;
     -moz-border-radius: 69px;
          border-radius: 69px; }

.slider-nav__item.slick-current p {
  border-color: #0085ff; }


.why-img img {
  max-width: 100%; }

.why-text h3 {
  color: #20333d;
  font-size: 24px;
  font-weight: 400;
  line-height: 1;
  text-transform: uppercase;
  margin-bottom: 40px; }

.why-text p {
  color: #20333d; }

.why-text .butn {
  margin-top: 40px;
  min-width: 295px; }

.why-we__butn-holder {
  padding-top: 30px;
  text-align: center; }

#our-works {
  padding: 160px 0 125px; }
.galery{
    margin: 0 -5px;
}
.galery__item{

    width: 25%;
    padding: 0 5px;
    margin-bottom: 10px;

}
.galery__item img{
    transition: all .3s ease-in-out;
}
.galery__item a{
    display: block;
    position: relative;
    overflow: hidden;
    background: #000;

}
.galery__item:hover img{
    transform: scale(1.3);
    opacity: .3;

}
.galery__item_xl{
    width: 50%;
}
.galery__item img{
    width: 100%;
}
.galery__item-caption{
    position: absolute;
    bottom: 0;
    left: 0;
    color:#fff;
    font-size: 13px;
    -webkit-transition: all 0.8s ease;
    -o-transition: all 0.8s ease;
    transition: all 0.8s ease;
}
.galery__item-category{
    display: inline-block;
    background: rgba(102, 102, 102, 0.7);
    left: 0;
    -webkit-transition: all 0.8s ease;
    -o-transition: all 0.8s ease;
    transition: all 0.8s ease;
}
.galery__item-title{
    background: rgba(0, 0, 0, 0.7);
}
.galery__item-category-details{
    padding-bottom: 10px;
    display: none;

}
.galery__item-title:before, .galery__item-title:after{
    content: '';
    display: block;
    position: absolute;
    background-color: #0085ff;
    height: 2px;
    top:100%;
    right: 50%;
    left: 50%;
    -webkit-transition: all 0.8s ease-in-out;
    -o-transition: all 0.8s ease-in-out;
    transition: all 0.8s ease-in-out;
    transition-delay: 1s;
}
.galery__item-category, .galery__item-title {
    float: left;
    padding: 3px 10px 4px;
    box-sizing: border-box;

}
.galery__item:hover .galery__item-caption{
    position: static;
}
.galery__item:hover .galery__item-category, .galery__item:hover .galery__item-title{
position: absolute;
}
.galery__item:hover .galery__item-category{
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    background: transparent;
    font-size: 16px;
    color: #666;
    text-transform: uppercase;
}
.galery__item:hover .galery__item-title{
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background: transparent;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 18px;
}
.galery__item:hover .galery__item-category-details{
    display: block;
    text-transform: none;
    font-size: 16px;
    text-align: center;
    font-weight: 400   ;
}
.galery__item:hover .galery__item-title:before{
    left: 20px;
}
.galery__item:hover .galery__item-title:after{
    right: 20px;
}

/*--=== #testemonials ===---*/
#testemonials {
  padding: 40px 0 129px; }

.slider {
  padding: 80px 130px;
  position: relative;
  background: #fff; }

.slider__item {
  position: relative;
  padding-left: 245px;
  min-height: 165px; }

.slider__img {
  position: absolute;
  left: 0;
  top: 0;
  width: 165px;
  height: 165px;
  overflow: hidden; }

.slider__img img {
  max-width: 100%; }

.slider__title {
  color: #21333d;
  font-size: 24px;
  font-weight: 700;
  line-height: 1;
  text-transform: uppercase;
  margin-bottom: 24px; }

.slider__text {
  font-size: 16px;
  font-weight: 300;
  line-height: 1.6; }

.slick-arrow {
  cursor: pointer;
  position: absolute;
  top: 0;
  bottom: 0;
  width: 59px;
  z-index: 999;
  color: #4f96d0;
  font-size: 32px;
  line-height: 1; }

.slick-arrow span {
  width: 31px;
  height: 57px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
     -moz-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
       -o-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%); }

.slick-arrow span:after, .slick-arrow span:before {
  content: "";
  display: block;
  position: absolute;
  background-color: #21333d;
  height: 4px;
  width: 43px;
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out; }

.slick-arrow span:before {
  -webkit-transform: rotate(45deg);
     -moz-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
       -o-transform: rotate(45deg);
          transform: rotate(45deg);
  top: 40px;
  left: -5px; }

.slick-arrow span:after {
  -webkit-transform: rotate(-45deg);
     -moz-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
       -o-transform: rotate(-45deg);
          transform: rotate(-45deg);
  top: 12px;
  left: -5px; }

.slick-arrow:hover {
  color: #2ec47a; }

.slick-arrow-right {
  right: 15px; }

.slick-arrow-right span:before {
  -webkit-transform: rotate(-45deg);
     -moz-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
       -o-transform: rotate(-45deg);
          transform: rotate(-45deg); }

.slick-arrow-right span:after {
  -webkit-transform: rotate(45deg);
     -moz-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
       -o-transform: rotate(45deg);
          transform: rotate(45deg); }

.slick-arrow-right:hover span:before {
  -webkit-transform: rotate(138deg);
     -moz-transform: rotate(138deg);
      -ms-transform: rotate(138deg);
       -o-transform: rotate(138deg);
          transform: rotate(138deg); }

.slick-arrow-right:hover span:after {
  -webkit-transform: rotate(-135deg);
     -moz-transform: rotate(-135deg);
      -ms-transform: rotate(-135deg);
       -o-transform: rotate(-135deg);
          transform: rotate(-135deg); }

.slick-arrow-left {
  left: 15px; }

.slick-arrow-left:hover span:before {
  -webkit-transform: rotate(-138deg);
     -moz-transform: rotate(-138deg);
      -ms-transform: rotate(-138deg);
       -o-transform: rotate(-138deg);
          transform: rotate(-138deg); }

.slick-arrow-left:hover span:after {
  -webkit-transform: rotate(135deg);
     -moz-transform: rotate(135deg);
      -ms-transform: rotate(135deg);
       -o-transform: rotate(135deg);
          transform: rotate(135deg); }

/*---=== services page ===--- */
.slider__item_text {
  padding-left: 0 !important;
  padding-top: 0 !important;
  min-height: initial; }

.margin-bottom130 {
  margin-bottom: 130px; }

/*---=== inner page ===---*/
.text-section {
  padding: 65px 0 80px; }

.text-section p {
  color: #ffffff;
  font-size: 18px;
  margin-bottom: 20px; }

.banner__info-item {
  color: #20333d;
  font-size: 20px;
  font-weight: 300;
  margin-bottom: 5px; }

.banner__info-item span {
  display: inline-block;
  padding-left: 7px;
  color: #0085ff;
  font-size: 30px;
  font-weight: 700; }

.service_add {
  padding-left: 15px !important;
  padding-top: 113px !important; }

.service_add .service__title {
  text-align: center; }

.service_add .service__icon {
  top: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
     -moz-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
       -o-transform: translateX(-50%);
          transform: translateX(-50%); }

#contacts-about-us {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 133, 255, 0.5)), to(rgba(0, 133, 255, 0.5))), url("../img/bg-contacts.png") top no-repeat;
  background: -webkit-linear-gradient(rgba(0, 133, 255, 0.5), rgba(0, 133, 255, 0.5)), url("../img/bg-contacts.png") top no-repeat;
  background: -moz-linear-gradient(rgba(0, 133, 255, 0.5), rgba(0, 133, 255, 0.5)), url("../img/bg-contacts.png") top no-repeat;
  background: -o-linear-gradient(rgba(0, 133, 255, 0.5), rgba(0, 133, 255, 0.5)), url("../img/bg-contacts.png") top no-repeat;
  background: linear-gradient(rgba(0, 133, 255, 0.5), rgba(0, 133, 255, 0.5)), url("../img/bg-contacts.png") top no-repeat;
  padding: 40px 0 200px;
  -moz-background-size: cover;
    -o-background-size: cover;
       background-size: cover; }

#contacts-about-us p {
  color: #fff;
  font-size: 18px;
  margin-bottom: 15px;
  padding: 0 20px; }

#text-overley {
  -webkit-transform: translateY(-140px);
     -moz-transform: translateY(-140px);
      -ms-transform: translateY(-140px);
       -o-transform: translateY(-140px);
          transform: translateY(-140px);
  margin-bottom: -140px; }

.white-bg-text {
  padding: 30px;
  background: #fff;
  color: #2b363e; }

.white-bg-text h3 {
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 20px; }

.white-bg-text p {
  font-size: 18px;
  font-weight: 300; }

.white-bg-text [class*='col-'] {
  margin-bottom: 70px; }

footer {
  padding: 170px 0 240px;
  background: #fff url(../img/bg-footer.png) no-repeat bottom center; }

.footer__contacts h3 {
  color: #28353e;
  font-size: 40px;
  font-weight: 300;
  margin-bottom: 49px;
  letter-spacing: -2px; }

.footer__mail {
  margin-bottom: 49px; }

.footer__mail p {
  margin-bottom: 10px; }

.footer__mail a {
  display: inline-block;
  color: #28353e;
  font-size: 18px;
  font-weight: 300;
  text-decoration: none; }

.footer_address a {
  color: #008dcd;
  font-size: 15px;
  font-weight: 300;
  text-decoration: underline; }

.footer_address a:hover {
  text-decoration: none; }

.footer-wrap {
  overflow: hidden;
  padding-top: 20px; }

.footer-wrap .row {
  -webkit-transition: all .3s linear;
  -o-transition: all .3s linear;
  -moz-transition: all .3s linear;
  transition: all .3s linear;
  -webkit-transform: translateX(12.666%);
     -moz-transform: translateX(12.666%);
      -ms-transform: translateX(12.666%);
       -o-transform: translateX(12.666%);
          transform: translateX(12.666%); }

.footer-wrap.open .row {
  -webkit-transform: translateX(0);
     -moz-transform: translateX(0);
      -ms-transform: translateX(0);
       -o-transform: translateX(0);
          transform: translateX(0); }

.details-col {
  -webkit-transition: all .3s linear;
  -o-transition: all .3s linear;
  -moz-transition: all .3s linear;
  transition: all .3s linear;
  -webkit-transform: translateX(100%);
     -moz-transform: translateX(100%);
      -ms-transform: translateX(100%);
       -o-transform: translateX(100%);
          transform: translateX(100%); }

.footer__form {
  padding-bottom: 8px;
  position: relative;
  -webkit-transition: all .3s linear;
  -o-transition: all .3s linear;
  -moz-transition: all .3s linear;
  transition: all .3s linear; }

.footer__form.open .details-col {
  -webkit-transform: translateX(0);
     -moz-transform: translateX(0);
      -ms-transform: translateX(0);
       -o-transform: translateX(0);
          transform: translateX(0); }

/*---=== modals ===---*/
.modal-content .contacts-form-wrapper {
  position: relative; }

.close-x {
  top: 15px;
  right: 15px;
  position: absolute;
  width: 16px;
  height: 16px;
  cursor: pointer; }

.close-x:hover {
  opacity: 0.8; }

.close-x:after, .close-x:before {
  content: '';
  position: absolute;
  height: 2px;
  width: 22px;
  top: 7px;
  left: -3px;
  background: #fff; }

.close-x:before {
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
       transform: rotate(45deg); }

.close-x:after {
  -webkit-transform: rotate(135deg);
  -ms-transform: rotate(135deg);
  -moz-transform: rotate(135deg);
    -o-transform: rotate(135deg);
       transform: rotate(135deg); }

/*MEDIA QUERY*/
@media (max-width: 1845px) {
  .grid li:first-child {
    display: none; }
  .grid li:last-child {
    display: none; } }

@media (max-width: 1440px) {
  .banner__img img {
    max-width: 100%; }
  .banner__butn-holder {
    padding-left: 0; }
  .banner__butn-holder:before {
    display: none; }
  .banner__title .butn {
    margin-left: 0; } }

@media (max-width: 1199px) {
  .banner__title h1 {
    font-size: 66px; } }

@media (max-width: 1023px) {
  #our-works,
  #testemonials {
    display: none; }
  .footer-wrap {
    -webkit-transition: all 0s;
    -o-transition: all 0s;
    -moz-transition: all 0s;
    transition: all 0s;
    overflow: visible; }
  .footer-wrap .row {
    -webkit-transform: translateX(0);
       -moz-transform: translateX(0);
        -ms-transform: translateX(0);
         -o-transform: translateX(0);
            transform: translateX(0); }
  .details-col {
    display: none; }
  .footer__form {
    -webkit-transition: all 0s;
    -o-transition: all 0s;
    -moz-transition: all 0s;
    transition: all 0s; }
  .footer__form.open .details-col {
    -webkit-transform: translateX(100%);
       -moz-transform: translateX(100%);
        -ms-transform: translateX(100%);
         -o-transform: translateX(100%);
            transform: translateX(100%); }
  .footer__contacts,
  .footer__form {
    width: 50%;
    float: left; }
  .footer__form .row [class*='col-']:first-child {
    width: 100%; }
  #toggle-details {
    display: none; } }

@media (max-width: 991px) {
  .banner__butn-holder {
    text-align: center; }
  .banner__img {
    text-align: center; }
  header {
    padding: 20px 0; }
  .menuform__title {
    font-size: 40px;
    margin-bottom: 30px; }
  .service {
    padding-left: 15px !important;
    padding-top: 113px !important; }
  .service__title {
    text-align: center; }
  .service__icon {
    top: 0;
    left: 50%;
    -webkit-transform: translateX(-50%);
       -moz-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
         -o-transform: translateX(-50%);
            transform: translateX(-50%); }
  .get-phone {
    padding: 50px; }
  .get-phone .row {
    display: block;
    height: auto;
    text-align: center; }
  .get-phone #get-phone-form {
    max-width: 265px;
    margin: 0 auto; }
  #call-to-action {
    padding: 70px 0; }
  .get-phone__text {
    display: block;
    font-size: 35px;
    text-align: center; }
  .get-phone__text p {
    display: block; }
  .tab-nav li {
    display: block;
    width: 50%;
    float: left; }
  .tab-nav li a {
    font-size: 20px;
    padding: 22px 10px 20px; }
  .why-img {
    text-align: center;
    margin-bottom: 30px; }
  .why-text {
    margin-bottom: 30px; }
  #our-works {
    padding: 80px 0; }
  .slider__item {
    padding-left: 0;
    padding-top: 210px;
    min-height: 165px; }
  .slider__img {
    left: 50%;
    -webkit-transform: translateX(-50%);
       -moz-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
         -o-transform: translateX(-50%);
            transform: translateX(-50%); }
  footer {
    padding-top: 100px; }
  .footer__contacts {
    margin-bottom: 30px; }
  .footer__form {
    -webkit-transform: translateX(0);
       -moz-transform: translateX(0);
        -ms-transform: translateX(0);
         -o-transform: translateX(0);
            transform: translateX(0); }
  .footer__form .butn {
    display: block;
    margin: 0 auto 30px;
    max-width: 295px; }
  .details-col {
    display: none; }
  .service__title h3 {
    font-size: 27px; }
  .slider-nav__item p {
    font-size: 18px; }
  .slick-slide img {
    display: inline-block; }
  .banner {
    position: relative; }
  .banner [class*='col-'] {
    position: static; }
  .banner__title {
    position: relative;
    z-index: 1; }
  .banner__img {
    position: absolute;
    top: 0;
    left: 50%;
    -webkit-transform: translateX(-50%);
       -moz-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
         -o-transform: translateX(-50%);
            transform: translateX(-50%);
    overflow: hidden;
    height: 100%;
    width: 100%;
    text-align: center; }
  .banner__img img {
    max-width: initial;
    opacity: .1; }
  .logo img {
    max-width: 80%; } }

@media (max-width: 767px) {
  .footer__contacts,
  .footer__form {
    width: 100%;
    float: none; }
  .footer__form .butn {
    display: block;
    margin: 0 auto 30px;
    max-width: 295px; }
  .banner__title {
    padding-top: 50px; }
  .menu ul li a {
    font-size: 50px; }
  .menuform__title {
    font-size: 30px;
    margin-bottom: 20px;
    text-align: center; }
  .menuform__title .toggleForm {
    font-size: 70px; }
  .menuform-container {
    padding-top: 60px; }
  .menuform-container .input-row {
    margin-bottom: 20px; }
  .section__title h2 {
    text-align: center;
    font-size: 45px; }
  .services-wrap {
    margin: 0; }
  .get-phone {
    padding: 50px 15px; }
  .work__img img {
    width: 100%; }
  .slider {
    padding: 80px 73px; }
  .slick-arrow-left {
    left: 0; }
  .slick-arrow-right {
    right: 0; }
  #testemonials {
    padding-bottom: 80px; }
  .grid {
    display: none; }
  .slider-nav__item p {
    font-size: 16px;
    display: inline-block;
    padding: 10px 30px; } }

@media (max-width: 470px) {
  .logo {
    padding-left: 5px;
    padding-right: 5px; }
  .banner__title h1 {
    font-size: 48px; }
  .banner__title .banner__butn-holder,
  .banner__title p {
    padding-left: 0; }
  .banner__title .banner__butn-holder {
    text-align: center; }
  .banner__title:before {
    display: none; }
  .banner__title .butn {
    margin-left: 0; }
  #hamburger-wrap {
    width: 35px; }
  #hamburger-wrap p {
    display: none; }
  #lagnswitch {
    padding-right: 0; }
  #lagnswitch ul li a {
    font-size: 13px; }
  #lagnswitch ul li + li {
    margin-left: 1px; }
  #lagnswitch ul li + li:before {
    margin-right: 1px; }
  .logo {
    padding: 0 5px;
    width: 58.33333333%; }
  .hamburger-col {
    padding-left: 5px;
    width: 16.66666667%; }
  .menu ul li a {
    font-size: 40px; }
  .get-phone__text {
    display: block;
    font-size: 29px; }
  .section__title h2 {
    font-size: 36px; }

  .menuform-container textarea.autogrow-short {
    max-height: 80px !important; } }

@media (max-width: 390px) {
  .menu ul li a {
    font-size: 32px; }
  .tab-nav li {
    display: block;
    width: 100%; }
  .slider {
    padding: 50px; }
  .slick-arrow-left span {
    margin-left: -7px; }
  .slick-arrow-right span {
    margin-right: -7px; }
  .menuform-container .input-row {
    margin-bottom: 18px; }
    .banner__info-item span {
        font-size: 21px;}

 }
