@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,700&subset=cyrillic-ext");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  outline: none; }

*:active, *:focus {
  outline: none !important;
  text-decoration: none !important; }

html {
  height: 100%; }

body {
  min-height: 100%;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: 300;
  position: relative; }

.clearfix:after,
.clearfix:before {
  content: ' ';
  display: table;
  clear: both; }

h1,
h2,
h3,
h4,
h5,
h6,
ul,
ol,
p {
  margin: 0;
  padding: 0; }

.row-eq-height {
  height: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }

/*---=== buttons ===---*/
.butn {
  min-width: 245px;
  display: inline-block;
  height: 60px;
  line-height: 60px;
  -webkit-border-radius: 60px;
          border-radius: 60px;
  -webkit-box-shadow: 0 15px 30px rgba(43, 54, 62, 0.3);
          box-shadow: 0 15px 30px rgba(43, 54, 62, 0.3);
  background-color: #0085ff;
  border: none;
  color: #ffffff;
  font-size: 24px;
  font-weight: 700;
  padding: 0 15px;
  text-align: center;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out; }

.butn:hover {
  background: #265a88;
  text-decoration: none;
  color: #fff; }

.butn_white {
  background-color: #fff;
  color: #1b3f59; }

/*---=== end buttons ===---*/
/*
Icon classes can be used entirely standalone. They are named after their original file names.

Example usage in HTML:

`display: block` sprite:
<div class="icon-home"></div>

To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:

// CSS
.icon {
  display: inline-block;
}

// HTML
<i class="icon icon-home"></i>
*/
.icon-land {
  background-image: url(../img/sprite.png);
  background-position: -166px 0px;
  width: 72px;
  height: 75px; }

.icon-mob {
  background-image: url(../img/sprite.png);
  background-position: 0px 0px;
  width: 73px;
  height: 87px; }

.icon-seo {
  background-image: url(../img/sprite.png);
  background-position: 0px -92px;
  width: 68px;
  height: 78px;
  left: 33px; }

.icon-shop {
  background-image: url(../img/sprite.png);
  background-position: -78px 0px;
  width: 83px;
  height: 69px; }

/*---=== forms style ===---*/
.input-row {
  position: relative;
  margin-bottom: 30px; }

.input-row input,
.input-row select,
.input-row textarea {
  width: 100%;
  height: 60px;
  padding: 0 20px;
  line-height: 60px;
  font-size: 18px;
  background-color: #ffffff !important;
  border-color: transparent;
  color: #28353e; }

.input-row textarea {
  padding: 20px;
  line-height: 1.1;
  max-width: 100%;
  max-height: 150px !important; }

.input-row span {
  position: absolute;
  top: 20px;
  left: 22px;
  font-size: 18px;
  font-weight: 300;
  line-height: 1;
  padding-top: 5px;
  z-index: 9;
  font-size: 18px;
  font-weight: 300;
  color: #7f7f7f;
  pointer-events: none;
  -webkit-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out; }

.input-row span.float {
  font-size: 14px;
  top: 0; }

.input-row span.float.textarea-placeholder {
  background: #fff; }

.input-row .butn {
  width: 100%; }

.input-row_border {
  margin-bottom: 20px; }

.input-row_border input, .input-row_border textarea {
  border-bottom: 2px solid #e6e6e6; }

.input-row_border input:focus, .input-row_border textarea:focus {
  border-bottom: 2px solid #0085ff; }

.input-row_border textarea {
  height: 200px !important;
  max-height: 200px !important; }

.jq-selectbox {
  width: 100%;
  position: relative;
  border-bottom: 2px solid #e6e6e6; }

.jq-selectbox:before {
  display: block;
  content: ' ';
  position: absolute;
  top: 20px;
  left: 22px;
  font-size: 18px;
  font-weight: 300;
  line-height: 1;
  padding-top: 5px;
  z-index: 35;
  font-size: 18px;
  font-weight: 300;
  color: #7f7f7f;
  pointer-events: none;
  -webkit-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out; }

.jq-selectbox:after {
  content: "";
  display: block;
  position: absolute;
  top: 30px;
  left: 8px;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 5px 4px 0 4px;
  border-color: #808080 transparent transparent transparent; }

.jq-selectbox.changed:before {
  font-size: 14px;
  top: 1px; }

.jq-selectbox.opened {
  border-bottom: 2px solid #0085ff; }

.jq-selectbox__select-text {
  width: 100%;
  height: 58px;
  padding: 0 20px;
  line-height: 60px;
  font-size: 18px;
  background-color: #ffffff !important;
  color: #28353e; }

.jq-selectbox__dropdown {
  z-index: 35;
  top: -webkit-calc(100% + 2px);
  top: calc(100% + 2px);
  width: 100%;
  -webkit-box-shadow: 0 15px 30px rgba(43, 54, 62, 0.3);
          box-shadow: 0 15px 30px rgba(43, 54, 62, 0.3); }

.jq-selectbox__dropdown ul {
  background: #fff; }

.jq-selectbox__dropdown ul li {
  padding: 10px 20px; }

.jq-selectbox__dropdown ul li:hover {
  background-color: #0085ff;
  color: #fff; }

.select-placeholder-subject .jq-selectbox:before {
  content: '*Меня интересует'; }

.select-placeholder-price .jq-selectbox:before {
  content: ' *Предполагаемый бюджет'; }

#toggle-details {
  display: inline-block;
  color: #0085ff;
  font-size: 20px;
  font-weight: 300;
  line-height: 1;
  text-decoration: underline;
  height: 29px; }

#toggle-details span {
  position: static !important;
  color: inherit;
  text-decoration: underline; }

#toggle-details span:nth-child(2) {
  display: none; }

#toggle-details.open span:nth-child(1) {
  display: none; }

#toggle-details.open span:nth-child(2) {
  display: block; }

#toggle-details:hover {
  text-decoration: none;
  color: #0085ff; }

#toggle-details:hover span {
  text-decoration: none; }

.jq-file {
  width: 100%;
  height: 60px;
  padding: 0 20px;
  line-height: 60px;
  font-size: 18px;
  background-color: #ffffff !important;
  border-color: transparent;
  color: #7f7f7f;
  border-bottom: 2px solid #e6e6e6;
  padding-right: 125px; }

.jq-file:hover {
  border-bottom: 2px solid #0085ff; }

.jq-file__browse {
  position: absolute;
  right: 17px;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 119px;
  height: 27px;
  background-color: #0085ff;
  line-height: 27px;
  color: #fff;
  font-size: 14px;
  font-weight: 300;
  text-align: center; }

.jq-file__browse:before {
  content: "";
  display: block;
  position: absolute;
  width: 16px;
  height: 15px;
  background: url(../img/ico-clip.png);
  top: 6px;
  right: 16px; }

/*---=== end forms style ===---*/
header {
  padding: 80px 0; }

.logo {
  text-align: center; }

.logo img {
  max-width: 100%; }

#hamburger-wrap,
#lagnswitch {
  position: relative;
  z-index: 9; }

#lagnswitch ul {
  list-style: none;
  padding-top: 46px;
  color: #20333d; }

#lagnswitch ul li {
  display: inline-block; }

#lagnswitch ul li + li {
  margin-left: 5px; }

#lagnswitch ul li + li:before {
  display: inline-block;
  content: '/';
  margin-right: 5px;
  color: inherit; }

#lagnswitch ul a {
  color: inherit; }

#lagnswitch ul a.current {
  text-decoration: underline; }

#hamburger-wrap {
  padding-top: 44px;
  width: 110px;
  float: right;
  color: #20333d;
  font-size: 20px;
  font-weight: 400;
  text-transform: uppercase;
  cursor: pointer;
  -webkit-transition: color 0.3s ease-in-out;
  transition: color 0.3s ease-in-out; }

#hamburger-wrap p {
  display: inline-block;
  margin: 0; }

#hamburger {
  display: inline-block;
  width: 30px;
  height: 15px;
  position: relative;
  -webkit-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
      transform: rotate(0deg);
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out; }

#hamburger span {
  display: block;
  position: absolute;
  height: 3px;
  width: 100%;
  background: #0084ff;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
      transform: rotate(0deg);
  -webkit-transition: 0.25s ease-in-out;
  transition: 0.25s ease-in-out; }

#hamburger span:nth-child(1) {
  top: 0; }

#hamburger span:nth-child(2),
#hamburger span:nth-child(3) {
  top: 6px; }

#hamburger span:nth-child(4) {
  top: 12px; }

#hamburger.open span:nth-child(1) {
  top: 9px;
  width: 0;
  left: 50%; }

#hamburger.open span:nth-child(2) {
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
      transform: rotate(45deg); }

#hamburger.open span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
      transform: rotate(-45deg); }

#hamburger.open span:nth-child(4) {
  top: 9px;
  width: 0;
  left: 50%; }

@-webkit-keyframes left-right {
  0% {
    -webkit-transform: translateX(-5px);
            transform: translateX(-5px); }
  10% {
    -webkit-transform: translateX(5px);
            transform: translateX(5px); }
  20% {
    -webkit-transform: translateX(-5px);
            transform: translateX(-5px); }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0); } }

@keyframes left-right {
  0% {
    -webkit-transform: translateX(-5px);
            transform: translateX(-5px); }
  10% {
    -webkit-transform: translateX(5px);
            transform: translateX(5px); }
  20% {
    -webkit-transform: translateX(-5px);
            transform: translateX(-5px); }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0); } }

.menu-container {
  z-index: 2;
  position: absolute;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  overflow: hidden;
  height: 100vh;
  left: 0;
  right: 0;
  pointer-events: none; }

.menu {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  height: 100vh;
  width: 100vw;
  z-index: 3;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  -webkit-transform: translateY(-100%);
      -ms-transform: translateY(-100%);
          transform: translateY(-100%);
  -webkit-transition: -webkit-transform 0.5s;
  transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
  transition: transform 0.5s, -webkit-transform 0.5s;
  -webkit-transition-delay: 0.5s;
          transition-delay: 0.5s;
  visibility: hidden; }

.menu ul {
  list-style: none;
  -webkit-transition: -webkit-transform 0.5s;
  transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
  transition: transform 0.5s, -webkit-transform 0.5s; }

.menu ul li {
  font-family: 'Roboto', sans-serif;
  text-align: center; }

.menu ul li a {
  display: inline-block;
  font-family: 'Roboto', sans-serif;
  color: #ffffff;
  font-family: Roboto;
  font-size: 58px;
  font-weight: 300;
  cursor: pointer; }

.menu ul li a:hover {
  text-decoration: none;
  -webkit-animation: left-right 0.5s;
          animation: left-right 0.5s; }

.menu ul.openForm {
  -webkit-transform: translateX(900%);
      -ms-transform: translateX(900%);
          transform: translateX(900%); }

.menu-sliders {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: -webkit-box-flex 0.45s, -webkit-flex 0.45s;
  transition: -webkit-box-flex 0.45s, -webkit-flex 0.45s;
  transition: flex 0.45s;
  transition: flex 0.45s, -webkit-box-flex 0.45s, -webkit-flex 0.45s, -ms-flex 0.45s; }

.menu-sliders:nth-child(2) {
  -webkit-box-flex: 1;
  -webkit-flex: 1 0 100%;
      -ms-flex: 1 0 100%;
          flex: 1 0 100%;
  background: transparent; }

.menu-sliders:nth-child(odd) {
  background-color: #21333d; }

body.menu-open {
  position: relative; }

body.menu-open .menu-sliders:nth-child(2) {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 0;
      -ms-flex: 0 0 0;
          flex: 0 0 0; }

body.menu-open .menu {
  -webkit-transform: translateY(0%);
      -ms-transform: translateY(0%);
          transform: translateY(0%);
  visibility: visible;
  pointer-events: all; }

body.menu-open #hamburger-wrap,
body.menu-open #lagnswitch ul {
  color: #fff; }

body.menu-open #hamburger span {
  background: #fff; }

.menuform__title {
  color: #fff;
  font-size: 50px;
  font-weight: 700;
  line-height: 1;
  margin-bottom: 50px; }

.menuform__title .toggleForm {
  display: inline-block;
  margin-right: 48px;
  font-size: 85px;
  position: relative;
  top: 5px;
  cursor: pointer; }

.menuform__title .toggleForm:hover {
  -webkit-animation: left-right 0.5s;
          animation: left-right 0.5s; }

.menuform-container {
  width: 420px;
  max-width: 90% !important;
  position: absolute;
  -webkit-transform: translateX(-900%);
      -ms-transform: translateX(-900%);
          transform: translateX(-900%);
  -webkit-transition: -webkit-transform 0.5s;
  transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
  transition: transform 0.5s, -webkit-transform 0.5s; }

.menuform-container.openForm {
  -webkit-transform: translateX(0);
      -ms-transform: translateX(0);
          transform: translateX(0); }

.grid {
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  top: 0;
  bottom: 0;
  list-style: none; }

.grid li {
  width: 1px;
  height: 100%;
  opacity: .2;
  background-color: #f1f1f1;
  position: absolute;
  z-index: 0;
  top: 0;
  pointer-events: none; }

.grid li:first-child {
  left: -25%; }

.grid li:nth-child(2) {
  left: 15px; }

.grid li:nth-child(3) {
  left: 25%; }

.grid li:nth-child(4) {
  left: 50%; }

.grid li:nth-child(5) {
  left: 75%; }

.grid li:nth-child(6) {
  left: -webkit-calc(100% - 15px);
  left: calc(100% - 15px); }

.grid li:last-child {
  left: 125%; }

/*---=== section.banner ===---*/
.banner {
  padding-bottom: 105px; }

.banner__butn-holder {
  margin-bottom: 30px; }

.banner__title {
  padding-top: 60px;
  position: relative; }

.banner__title h1 {
  color: #20333d;
  font-size: 70px;
  font-weight: 700;
  line-height: 1;
  letter-spacing: -1px;
  margin-bottom: 60px; }

.banner__title p {
  color: #20333d;
  font-size: 20px;
  font-weight: 300;
  line-height: 1.3;
  margin-bottom: 67px; }

.banner__title:before {
  content: "";
  display: block;
  position: absolute;
  width: 151px;
  height: 216px;
  bottom: 0;
  left: -98px;
  background: url("../img/img-arrow.png"); }

.banner__title .butn {
  margin-left: 84px; }

/*---=== section#services ===---*/
#services {
  padding: 40px 0 130px; }

.section__title {
  margin-bottom: 36px; }

.section__title h2 {
  color: #ffffff;
  font-size: 50px;
  font-weight: 700;
  line-height: 1; }

.section-blue {
  background: #2655d0;
  background: -webkit-gradient(linear, left top, left bottom, from(#2655d0), to(#0084ff));
  background: -webkit-linear-gradient(top, #2655d0 0%, #0084ff 100%);
  background: linear-gradient(to bottom, #2655d0 0%, #0084ff 100%); }

.services-wrap {
  background: #fff;
  padding-top: 80px;
  text-align: center; }

.service {
  position: relative;
  padding-left: -webkit-calc(112px + 9%);
  padding-left: calc(112px + 9%);
  min-height: 87px;
  margin-bottom: 80px; }

.service__icon {
  position: absolute;
  left: 108px;
  top: 0; }

.service__title {
  padding-top: 10px;
  text-align: left; }

.service__title h3 {
  color: #2c3f47;
  font-size: 30px;
  font-weight: 400;
  line-height: 1;
  margin-bottom: 8px; }

.service__title p {
  color: #20333d;
  font-size: 18px;
  font-weight: 300; }

/*---=== call-to-action ===---*/
#call-to-action {
  padding: 130px 0; }

.get-phone {
  padding: 75px;
  background-color: #20333d; }

.get-phone .row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 100%; }

.get-phone__text {
  display: table;
  color: #ffffff;
  font-size: 40px;
  font-weight: 300;
  text-transform: uppercase;
  line-height: 1;
  vertical-align: middle;
  height: 100%; }

.get-phone__text P {
  display: table-cell;
  vertical-align: middle; }

.form-wrap p {
  color: #ffffff;
  font-size: 16px;
  font-weight: 300;
  line-height: 1.3;
  margin-bottom: 20px; }

/*---===  #why-we ===---*/
#why-we {
  padding-top: 40px;
  background-color: #fafafa; }

.section__title_black h2 {
  color: #000; }

.tab-nav {
  list-style: none;
  display: block;
  text-align: justify;
  line-height: 0;
  background-color: #fff;
  margin-bottom: 90px; }

.tab-nav:after {
  width: 100%;
  height: 0;
  visibility: hidden;
  overflow: hidden;
  content: "";
  display: inline-block; }

.tab-nav li {
  display: table-cell;
  width: 1%;
  text-align: center;
  line-height: 1;
  margin-bottom: -5px;
  position: relative;
  top: 0; }

.tab-nav li a {
  display: block;
  color: #20333d;
  font-size: 24px;
  font-weight: 400;
  text-transform: uppercase;
  padding: 38px 40px 37px;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  position: relative; }

.tab-nav li a:hover {
  -webkit-box-shadow: 0 15px 30px rgba(43, 54, 62, 0.3);
          box-shadow: 0 15px 30px rgba(43, 54, 62, 0.3);
  background-color: #0085ff;
  text-decoration: none;
  color: #fff;
  -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
          transform: scale(1.1);
  z-index: 999; }

.tab-nav li.active a {
  -webkit-box-shadow: 0 15px 30px rgba(43, 54, 62, 0.3);
          box-shadow: 0 15px 30px rgba(43, 54, 62, 0.3);
  background-color: #0085ff;
  text-decoration: none;
  color: #fff;
  -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
          transform: scale(1.1); }

.why-img img {
  max-width: 100%; }

.why-text h3 {
  color: #20333d;
  font-size: 24px;
  font-weight: 400;
  line-height: 1;
  text-transform: uppercase;
  margin-bottom: 40px; }

.why-text p {
  color: #20333d; }

.why-text .butn {
  margin-top: 40px;
  min-width: 295px; }

#our-works {
  padding: 160px 0 125px; }

.work {
  display: block;
  padding: 0;
  -webkit-transition: opacity 0.3s ease-in-out;
  transition: opacity 0.3s ease-in-out; }

.work__img img {
  max-width: 100%; }

.work:hover {
  opacity: 0.8; }

/*--=== #testemonials ===---*/
#testemonials {
  padding: 40px 0 129px; }

.slider {
  padding: 80px 130px;
  position: relative;
  background: #fff; }

.slider__item {
  position: relative;
  padding-left: 245px;
  min-height: 165px; }

.slider__img {
  position: absolute;
  left: 0;
  top: 0;
  width: 165px;
  height: 165px;
  overflow: hidden; }

.slider__img img {
  max-width: 100%; }

.slider__title {
  color: #21333d;
  font-size: 24px;
  font-weight: 700;
  line-height: 1;
  text-transform: uppercase;
  margin-bottom: 24px; }

.slider__text {
  font-size: 16px;
  font-weight: 300;
  line-height: 1.6; }

.slick-arrow {
  cursor: pointer;
  position: absolute;
  top: 0;
  bottom: 0;
  width: 59px;
  z-index: 999;
  color: #4f96d0;
  font-size: 32px;
  line-height: 1; }

.slick-arrow span {
  width: 31px;
  height: 57px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%); }

.slick-arrow span:after, .slick-arrow span:before {
  content: "";
  display: block;
  position: absolute;
  background-color: #21333d;
  height: 4px;
  width: 43px;
  -webkit-border-radius: 4px;
          border-radius: 4px;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out; }

.slick-arrow span:before {
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
  top: 40px;
  left: -5px; }

.slick-arrow span:after {
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
  top: 12px;
  left: -5px; }

.slick-arrow:hover {
  color: #2ec47a; }

.slick-arrow-right {
  right: 15px; }

.slick-arrow-right span:before {
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg); }

.slick-arrow-right span:after {
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg); }

.slick-arrow-right:hover span:before {
  -webkit-transform: rotate(138deg);
      -ms-transform: rotate(138deg);
          transform: rotate(138deg); }

.slick-arrow-right:hover span:after {
  -webkit-transform: rotate(-135deg);
      -ms-transform: rotate(-135deg);
          transform: rotate(-135deg); }

.slick-arrow-left {
  left: 15px; }

.slick-arrow-left:hover span:before {
  -webkit-transform: rotate(-138deg);
      -ms-transform: rotate(-138deg);
          transform: rotate(-138deg); }

.slick-arrow-left:hover span:after {
  -webkit-transform: rotate(135deg);
      -ms-transform: rotate(135deg);
          transform: rotate(135deg); }

/*---=== services page ===--- */
.slider__item_text {
  padding-left: 0 !important;
  padding-top: 0 !important;
  min-height: initial; }

.margin-bottom130 {
  margin-bottom: 130px; }

/*---=== inner page ===---*/
.text-section {
  padding: 65px 0 80px; }

.text-section p {
  color: #ffffff;
  font-size: 18px;
  margin-bottom: 20px; }

.service_add {
  padding-left: 15px !important;
  padding-top: 113px !important; }

.service_add .service__title {
  text-align: center; }

.service_add .service__icon {
  top: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%); }

#contacts-about-us {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 133, 255, 0.5)), to(rgba(0, 133, 255, 0.5))), url(../img/bg-contacts.png) top no-repeat;
  background: -webkit-linear-gradient(rgba(0, 133, 255, 0.5), rgba(0, 133, 255, 0.5)), url(../img/bg-contacts.png) top no-repeat;
  background: linear-gradient(rgba(0, 133, 255, 0.5), rgba(0, 133, 255, 0.5)), url(../img/bg-contacts.png) top no-repeat;
  padding: 40px 0 200px;
  background-size: cover; }

#contacts-about-us p {
  color: #fff;
  font-size: 18px;
  margin-bottom: 15px;
  padding: 0 20px; }

#text-overley {
  -webkit-transform: translateY(-140px);
      -ms-transform: translateY(-140px);
          transform: translateY(-140px);
  margin-bottom: -140px; }

.white-bg-text {
  padding: 30px;
  background: #fff;
  color: #2b363e; }

.white-bg-text h3 {
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 20px; }

.white-bg-text p {
  font-size: 18px;
  font-weight: 300; }

.white-bg-text [class*='col-'] {
  margin-bottom: 70px; }

footer {
  padding: 170px 0 240px;
  background: #fff url(../img/bg-footer.png) no-repeat bottom center; }

.footer__contacts h3 {
  color: #28353e;
  font-size: 40px;
  font-weight: 300;
  margin-bottom: 49px;
  letter-spacing: -2px; }

.footer__mail {
  margin-bottom: 49px; }

.footer__mail p {
  margin-bottom: 10px; }

.footer__mail a {
  display: inline-block;
  color: #28353e;
  font-size: 18px;
  font-weight: 300;
  text-decoration: none; }

.footer_address a {
  color: #008dcd;
  font-size: 15px;
  font-weight: 300;
  text-decoration: underline; }

.footer_address a:hover {
  text-decoration: none; }

.footer-wrap {
  overflow: hidden; }

.footer__form {
  position: relative;
  -webkit-transform: translateX(50%);
      -ms-transform: translateX(50%);
          transform: translateX(50%);
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out; }

.footer__form.open {
  -webkit-transform: translateX(0);
      -ms-transform: translateX(0);
          transform: translateX(0); }

/*---=== modals ===---*/
.modal-content .contacts-form-wrapper {
  position: relative; }

.close-x {
  top: 15px;
  right: 15px;
  position: absolute;
  width: 16px;
  height: 16px;
  cursor: pointer; }

.close-x:hover {
  opacity: 0.8; }

.close-x:after, .close-x:before {
  content: '';
  position: absolute;
  height: 2px;
  width: 22px;
  top: 7px;
  left: -3px;
  background: #fff; }

.close-x:before {
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg); }

.close-x:after {
  -webkit-transform: rotate(135deg);
  -ms-transform: rotate(135deg);
  transform: rotate(135deg); }

/*MEDIA QUERY*/
@media (max-width: 1845px) {
  .grid li:first-child {
    display: none; }
  .grid li:last-child {
    display: none; } }

@media (max-width: 1440px) {
  .banner__img img {
    max-width: 100%; }
  .banner__title .banner__butn-holder,
  .banner__title p {
    padding-left: 80px; }
  .banner__title:before {
    left: 0; } }

@media (max-width: 1199px) {
  .banner__title h1 {
    font-size: 66px; } }

@media (max-width: 991px) {
  .banner__img {
    text-align: center; }
  header {
    padding: 20px 0; }
  .menuform__title {
    font-size: 40px;
    margin-bottom: 30px; }
  .service {
    padding-left: 15px !important;
    padding-top: 113px !important; }
  .service__title {
    text-align: center; }
  .service__icon {
    top: 0;
    left: 50%;
    -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
            transform: translateX(-50%); }
  .get-phone {
    padding: 50px; }
  .get-phone .row {
    display: block;
    height: auto;
    text-align: center; }
  .get-phone #get-phone-form {
    max-width: 265px;
    margin: 0 auto; }
  #call-to-action {
    padding: 70px 0; }
  .get-phone__text {
    display: block;
    font-size: 35px;
    text-align: center; }
  .get-phone__text p {
    display: block; }
  .tab-nav li {
    display: block;
    width: 50%;
    float: left; }
  .tab-nav li a {
    font-size: 20px;
    padding: 22px 10px 20px; }
  .why-img {
    text-align: center;
    margin-bottom: 30px; }
  .why-text {
    margin-bottom: 30px; }
  #our-works {
    padding: 80px 0; }
  .slider__item {
    padding-left: 0;
    padding-top: 210px;
    min-height: 165px; }
  .slider__img {
    left: 50%;
    -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
            transform: translateX(-50%); }
  footer {
    padding-top: 100px; }
  .footer__contacts {
    margin-bottom: 30px; }
  .footer__form {
    -webkit-transform: translateX(0);
        -ms-transform: translateX(0);
            transform: translateX(0); }
  .footer__form .butn {
    display: block;
    margin: 0 auto 30px;
    max-width: 295px; }
  .details-col {
    display: none; }
  .service__title h3 {
    font-size: 27px; } }

@media (max-width: 767px) {
  .banner__title {
    padding-top: 110px; }
  .menu ul li a {
    font-size: 50px; }
  .menuform__title {
    font-size: 30px;
    margin-bottom: 20px;
    text-align: center; }
  .menuform__title .toggleForm {
    font-size: 70px; }
  .menuform-container {
    padding-top: 60px; }
  .menuform-container .input-row {
    margin-bottom: 20px; }
  .section__title h2 {
    text-align: center;
    font-size: 45px; }
  .services-wrap {
    margin: 0; }
  .get-phone {
    padding: 50px 15px; }
  .our-works-wrapper .work:nth-child(odd) {
    clear: left; }
  .work__img img {
    width: 100%; }
  .slider {
    padding: 80px 73px; }
  .slick-arrow-left {
    left: 0; }
  .slick-arrow-right {
    right: 0; }
  #testemonials {
    padding-bottom: 80px; }
  .grid {
    display: none; } }

@media (max-width: 470px) {
  .logo {
    padding-left: 5px;
    padding-right: 5px; }
  .banner__title h1 {
    font-size: 48px; }
  .banner__title .banner__butn-holder,
  .banner__title p {
    padding-left: 0; }
  .banner__title .banner__butn-holder {
    text-align: center; }
  .banner__title:before {
    display: none; }
  .banner__title .butn {
    margin-left: 0; }
  #hamburger-wrap {
    width: 35px; }
  #hamburger-wrap p {
    display: none; }
  #lagnswitch {
    padding-right: 0; }
  #lagnswitch ul li a {
    font-size: 13px; }
  #lagnswitch ul li + li {
    margin-left: 1px; }
  #lagnswitch ul li + li:before {
    margin-right: 1px; }
  .logo {
    padding: 0 5px;
    width: 58.33333333%; }
  .hamburger-col {
    padding-left: 5px;
    width: 16.66666667%; }
  .menu ul li a {
    font-size: 40px; }
  .get-phone__text {
    display: block;
    font-size: 29px; }
  .section__title h2 {
    font-size: 36px; }
  .our-works-wrapper .work {
    width: 100%; }
  .menuform-container textarea.autogrow-short {
    max-height: 80px !important; } }

@media (max-width: 390px) {
  .menu ul li a {
    font-size: 32px; }
  .tab-nav li {
    display: block;
    width: 100%; }
  .slider {
    padding: 50px; }
  .slick-arrow-left span {
    margin-left: -7px; }
  .slick-arrow-right span {
    margin-right: -7px; } }
