main {}
/*---=== section.banner ===---*/
.banner {
    padding-bottom: 105px;

    &__butn-holder {
        margin-bottom: 30px;
    }
}

.banner__title {
    padding-top: 60px;
    position: relative;

    h1 {
        color: #20333d;
        font-size: 70px;
        font-weight: 700;
        line-height: 1;
        letter-spacing: -1px;
        margin-bottom: 60px;
    }

    p {
        color: #20333d;
        font-size: 20px;
        font-weight: 300;
        line-height: 1.3;
        margin-bottom: 67px;
    }

    &:before {
        @include pseudo;
        width: 151px;
        height: 216px;
        bottom: 0;
        left: -98px;
        background: url("../img/img-arrow.png");
    }

    .butn {
        margin-left: 84px;
    }
}
/*---=== section#services ===---*/
#services {
    padding: 40px 0 130px;
}

.section__title {
    margin-bottom: 36px;

    h2 {
        color: #ffffff;
        font-size: 50px;
        font-weight: 700;
        line-height: 1;
    }
}

.section-blue {
    background: #2655d0;
    background: linear-gradient(to bottom, #2655d0 0%,#0084ff 100%);
}

.services-wrap {
    background: #fff;
    padding-top: 80px;
    text-align: center;
}

.service {
    display: block;
    position: relative;
    padding-left: calc(112px + 9%);
    min-height: 87px;
    margin-bottom: 80px;

    &__icon {
        position: absolute;
        left: 108px;
        top: 0;
    }

    &__title {
        padding-top: 10px;
        text-align: left;

        h3 {
            color: #2c3f47;
            font-size: 30px;
            font-weight: 400;
            line-height: 1;
            margin-bottom: 8px;
        }

        p {
            color: #20333d;
            font-size: 18px;
            font-weight: 300;
        }
    }
    &:hover{
        text-decoration: none;
        opacity: .8;

    }
}

.services-wrap {
    // [class*='col-'] {
    //     &:nth-child(1) {
    //         .service {
    //             padding-left: 90px;
    //         }
    //     }
    //
    //     &:nth-child(4) {
    //         .service {
    //             padding-left: 137px;
    //         }
    //     }
    // }
    //
    // .icon-seo {
    //     left: 33px;
    // }
    //
    // .icon-mob {
    //     left: -5px;
    // }
}
/*---=== call-to-action ===---*/
#call-to-action {
    padding: 130px 0;
}

.get-phone {
    padding: 75px;
    background-color: #20333d;

    .row {
        display: flex;
        height: 100%;
    }

    &__text {
        display: table;
        color: #ffffff;
        font-size: 40px;
        font-weight: 300;
        text-transform: uppercase;
        line-height: 1;
        vertical-align: middle;
        height: 100%;

        P {
            display: table-cell;
            vertical-align: middle;
        }
    }
}

#get-phone-form {
    input {}
}

.form-wrap {
    p {
        color: #ffffff;
        font-size: 16px;
        font-weight: 300;
        line-height: 1.3;
        margin-bottom: 20px;
    }
}
/*---===  #why-we ===---*/
#why-we {
    padding-top: 40px;
    background-color: #fafafa;
}

.section__title_black {
    h2 {
        color: #000;
    }
}

.tab-nav {
    list-style: none;
    display: block;
    text-align: justify;
    line-height: 0;
    background-color: #fff;
    margin-bottom: 90px;

    &:after {
        width: 100%;
        height: 0;
        visibility: hidden;
        overflow: hidden;
        content: "";
        display: inline-block;
    }

    li {
        display: table-cell;
        width: 1%;
        text-align: center;
        line-height: 1;
        margin-bottom: -5px;
        position: relative;
        top: 0;

        a {
            display: block;
            color: #20333d;
            font-size: 24px;
            font-weight: 400;
            text-transform: uppercase;
            padding: 38px 40px 37px;
            transition: all 0.3s ease-in-out;
            position: relative;

            &:hover {
                box-shadow: 0 15px 30px rgba(43, 54, 62, 0.3);
                background-color: #0085ff;
                text-decoration: none;
                color: #fff;
                transform: scale(1.1);
                z-index: 999;
            }
        }

        &.active {
            a {
                box-shadow: 0 15px 30px rgba(43, 54, 62, 0.3);
                background-color: #0085ff;
                text-decoration: none;
                color: #fff;
                transform: scale(1.1);
            }
        }
    }
}
.slider-nav{
    margin-bottom: 50px;
}
.slider-nav__item{
    cursor: pointer;
    text-align: center;

    p{
        text-align: center;
        display: block;
        color: #20333d;
        font-size: 24px;
        font-weight: 400;
        text-transform: uppercase;
        padding: 18px 20px 17px;
        border: 2px solid transparent;
        transition: all 0.3s ease-in-out;
        border-radius: 69px;
    }
    &.slick-current{
        p{
            border-color: #0085ff;
        }
    }
}
.slider-for{
    margin-bottom: 40px;
}
.why-img {
    img {
        max-width: 100%;
    }
}

.why-text {
    h3 {
        color: #20333d;
        font-size: 24px;
        font-weight: 400;
        line-height: 1;
        text-transform: uppercase;
        margin-bottom: 40px;
    }

    p {
        color: #20333d;
    }

    .butn {
        margin-top: 40px;
        min-width: 295px;
    }
}
.why-we__butn-holder{
    text-align: center;
    margin-bottom: 40px;
}
#our-works {
    padding: 160px 0 125px;
}

.our-works-wrapper {}

.work {
    display: block;
    padding: 0;
    transition: opacity 0.3s ease-in-out;

    &__img {
        img {
            max-width: 100%;
        }
    }

    &:hover {
        opacity: 0.8;
    }
}
/*--=== #testemonials ===---*/

#testemonials {
    padding: 40px 0 129px;
}

.slider {
    padding: 80px 130px;
    position: relative;
    background: #fff;

    &__item {
        position: relative;
        padding-left: 245px;
        min-height: 165px;
    }

    &__img {
        position: absolute;
        left: 0;
        top: 0;
        width: 165px;
        height: 165px;
        overflow: hidden;

        img {
            max-width: 100%;
        }
    }

    &__title {
        color: #21333d;
        font-size: 24px;
        font-weight: 700;
        line-height: 1;
        text-transform: uppercase;
        margin-bottom: 24px;
    }

    &__text {
        font-size: 16px;
        font-weight: 300;
        line-height: 1.6;
    }
}

.slick-arrow {
    cursor: pointer;
    position: absolute;
    top: 0;
    bottom: 0;
    width: 59px;
    z-index: 999;
    color: #4f96d0;
    font-size: 32px;
    line-height: 1;

    span {
        width: 31px;
        height: 57px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);

        &:after,
        &:before {
            @include pseudo;
            background-color: #21333d;
            height: 4px;
            width: 43px;
            border-radius: 4px;
            transition: all 0.3s ease-in-out;
        }

        &:before {
            transform: rotate(45deg);
            top: 40px;
            left: -5px;
        }

        &:after {
            transform: rotate(-45deg);
            top: 12px;
            left: -5px;
        }
    }

    &:hover {
        color: #2ec47a;
    }
}

.slick-arrow-right {
    right: 15px;

    span {
        &:before {
            transform: rotate(-45deg);
        }

        &:after {
            transform: rotate(45deg);
        }
    }

    &:hover {
        span {
            &:before {
                transform: rotate(138deg);
            }

            &:after {
                transform: rotate(-135deg);
            }
        }
    }
}

.slick-arrow-left {
    left: 15px;

    &:hover {
        span {
            &:before {
                transform: rotate(-138deg);
            }

            &:after {
                transform: rotate(135deg);
            }
        }
    }
}
/*---=== services page ===--- */

.slider__item_text {
    padding-left: 0 !important;
    padding-top: 0 !important;
    min-height: initial;
}

.margin-bottom130 {
    margin-bottom: 130px;
}
/*---=== inner page ===---*/

.text-section {
    padding: 65px 0 80px;

    p {
        color: #ffffff;
        font-size: 18px;
        margin-bottom: 20px;
    }
}

.service_add {
    padding-left: 15px !important;
    padding-top: 113px !important;

    .service__title {
        text-align: center;
    }

    .service__icon {
        top: 0;
        left: 50%;
        transform: translateX(-50%);
    }
}
#contacts-about-us{
    background: linear-gradient(
      rgba(#0085ff, .5),
      rgba(#0085ff, .5)
    ), url(../img/bg-contacts.png) top no-repeat;
    padding: 40px 0 200px;
    background-size: cover;
    p{
        color: #fff;
        font-size: 18px;
        margin-bottom: 15px;
        padding: 0 20px;
    }
}
#text-overley{
    transform: translateY(-140px);
    margin-bottom: -140px;
}
.white-bg-text{
    padding: 30px;
    background: #fff;
    color: #2b363e;
    h3 {
        font-size: 24px;
        font-weight: 700;
margin-bottom: 20px;
    }
    p{
        font-size: 18px;
        font-weight: 300;
    }
    [class*='col-']{
        margin-bottom: 70px;
    }

}
