footer {
    padding: 170px 0 240px;
    background: #fff url(../img/bg-footer.png) no-repeat bottom center;

}
.footer__contacts {
    h3 {
        color: #28353e;
        font-size: 40px;
        font-weight: 300;
        margin-bottom: 49px;
        letter-spacing: -2px;
    }
}

.footer__mail {
    margin-bottom: 49px;
    p{
        margin-bottom: 10px;
    }
    a {
        display: inline-block;
        color: #28353e;
        font-size: 18px;
        font-weight: 300;
        text-decoration: none;
    }
}

.footer_address {
    a {
        color: #008dcd;
        font-size: 15px;
        font-weight: 300;
        text-decoration: underline;
        &:hover{
            text-decoration: none;
        }
    }
}
.footer-wrap{
    overflow: hidden;
}
.footer__form{
    position: relative;
    transform: translateX(50%);
    transition: all .3s ease-in-out;
    &.open{
        transform: translateX(0);
    }
}

/*---=== modals ===---*/

.modal-content .contacts-form-wrapper {
    position: relative;
}

.close-x {
    top: 15px;
    right: 15px;
    position: absolute;
    width: 16px;
    height: 16px;
    cursor: pointer;

    &:hover {
        opacity: 0.8;
    }

    &:after,
    &:before {
        content: '';
        position: absolute;
        height: 2px;
        width: 22px;
        top: 7px;
        left: -3px;
        background: #fff;
    }

    &:before {
        -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        transform: rotate(45deg);
    }

    &:after {
        -webkit-transform: rotate(135deg);
        -ms-transform: rotate(135deg);
        transform: rotate(135deg);
    }
}
