/*---=== forms style ===---*/

.input-row {
    position: relative;
    margin-bottom: 30px;

    input,
    select,
    textarea {
        width: 100%;
        height: 60px;
        padding: 0 20px;
        line-height: 60px;
        font-size: 18px;
        background-color: #ffffff!important;
        border-color: transparent;
        color: #28353e;
    }

    textarea {
        padding: 20px;
        line-height: 1.1;
        max-width: 100%;
        max-height: 150px!important;
    }

    span {
        position: absolute;
        top: 20px;
        left: 22px;
        font-size: 18px;
        font-weight: 300;
        line-height: 1;
        padding-top: 5px;
        z-index: 9;
        font-size: 18px;
        font-weight: 300;
        color: #7f7f7f;
        pointer-events: none;
        transition: all 0.1s ease-in-out;

        &.float {
            font-size: 14px;
            top: 0;

            &.textarea-placeholder {
                background: #fff;
            }
        }
    }

    .butn {
        width: 100%;
    }
}

.input-row_border {
    margin-bottom: 20px;

    input, textarea {
        border-bottom: 2px solid #e6e6e6;

        &:focus {
            border-bottom: 2px solid #0085ff;
        }
    }
    textarea{
        height: 200px!important;
        max-height: 200px!important;
    }
}

.jq-selectbox {
    width: 100%;
    position: relative;
    border-bottom: 2px solid #e6e6e6;

    &:before {
        display: block; //
        content: ' ';
        position: absolute;
        top: 20px;
        left: 22px;
        font-size: 18px;
        font-weight: 300;
        line-height: 1;
        padding-top: 5px;
        z-index: 35;
        font-size: 18px;
        font-weight: 300;
        color: #7f7f7f;
        pointer-events: none;
        transition: all 0.1s ease-in-out;
    }
    &:after{
        @include pseudo;
        top: 30px;
        left: 8px;
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 5px 4px 0 4px;
        border-color: #808080 transparent transparent transparent;

    }

    &.changed {
        &:before {
            font-size: 14px;
            top: 1px;
        }
    }

    &.opened {
        border-bottom: 2px solid #0085ff;
    }

    &__select-text {
        width: 100%;
        height: 58px;
        padding: 0 20px;
        line-height: 60px;
        font-size: 18px;
        background-color: #ffffff !important;
        color: #28353e;
    }

    &__dropdown {
        z-index: 35;
        top: calc(100% + 2px);
        width: 100%;
        box-shadow: 0 15px 30px rgba(43, 54, 62, 0.3);

        ul {
            background: #fff;

            li {
                padding: 10px 20px;

                &:hover {
                    background-color: #0085ff;
                    color: #fff;
                }
            }
        }
    }
}

.select-placeholder-subject {
    .jq-selectbox {
        &:before {
            content: '*Меня интересует';
        }
    }
}

.select-placeholder-price {
    .jq-selectbox {
        &:before {
            content: ' *Предполагаемый бюджет';
        }
    }
}

#toggle-details {
    display: inline-block;
    color: #0085ff;
    font-size: 20px;
    font-weight: 300;
    line-height: 1;
    text-decoration: underline;
    height: 29px;
    span{
        position: static!important;
        color: inherit;
        text-decoration: underline;
        &:nth-child(2){
            display: none;
        }
    }
    &.open{
        span{
            &:nth-child(1){
                display: none;
            }
            &:nth-child(2){
                display: block;
            }
        }
    }
    &:hover{
        text-decoration: none;
        color: #0085ff;
        span{
            text-decoration: none;
        }
    }

}
.jq-file{
    width: 100%;
    height: 60px;
    padding: 0 20px;
    line-height: 60px;
    font-size: 18px;
    background-color: #ffffff!important;
    border-color: transparent;
    color: #7f7f7f;
    border-bottom: 2px solid #e6e6e6;
    padding-right: 125px;
    &:hover{
        border-bottom: 2px solid #0085ff;
    }
}
.jq-file__name{


}
.jq-file__browse{
    position: absolute;
    right: 17px;
    top: 50%;
    transform: translateY(-50%);
    width: 119px;
    height: 27px;
    background-color: #0085ff;
    line-height: 27px;
    color: #fff;
    font-size: 14px;
    font-weight: 300;
    text-align: center;
    &:before{
        @include pseudo;
        width: 16px;
        height: 15px;
        background: url(../img/ico-clip.png);
        top: 6px;
        right: 16px;
    }
}

/*---=== end forms style ===---*/
