//header

header {
    padding: 80px 0;
}

.logo {
    text-align: center;

    img {
        max-width: 100%;
    }
}

#hamburger-wrap,
#lagnswitch {
    position: relative;
    z-index: 9;
}

#lagnswitch {
    ul{
        list-style: none;
        padding-top: 46px;
        color: #20333d;

        li {
            display: inline-block;
        }

        li + li {
            margin-left: 5px;

            &:before {
                display: inline-block;
                content: '/';
                margin-right: 5px;
                color: inherit;
            }
        }

        a {
            color: inherit;
            &.current{
                text-decoration: underline;
            }
        }
    }

}

#hamburger-wrap {
    padding-top: 44px;
    width: 110px;
    float: right;
    color: #20333d;
    font-size: 20px;
    font-weight: 400;
    text-transform: uppercase;
    cursor: pointer;
    transition: color 0.3s ease-in-out;

    p {
        display: inline-block;
        margin: 0;
    }
}

#hamburger {
    display: inline-block;
    width: 30px;
    height: 15px;
    position: relative;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: 0.5s ease-in-out;
    -moz-transition: 0.5s ease-in-out;
    -o-transition: 0.5s ease-in-out;
    transition: 0.5s ease-in-out;

    span {
        display: block;
        position: absolute;
        height: 3px;
        width: 100%;
        background: $color-brand;
        opacity: 1;
        left: 0;
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
        -webkit-transition: 0.25s ease-in-out;
        -moz-transition: 0.25s ease-in-out;
        -o-transition: 0.25s ease-in-out;
        transition: 0.25s ease-in-out;
    }
}

#hamburger span:nth-child(1) {
    top: 0;
}

#hamburger span:nth-child(2),
#hamburger span:nth-child(3) {
    top: 6px;
}

#hamburger span:nth-child(4) {
    top: 12px;
}

#hamburger.open span:nth-child(1) {
    top: 9px;
    width: 0;
    left: 50%;
}

#hamburger.open span:nth-child(2) {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
}

#hamburger.open span:nth-child(3) {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

#hamburger.open span:nth-child(4) {
    top: 9px;
    width: 0;
    left: 50%;
}
@keyframes left-right {
    0% {
        transform: translateX(-5px);
    }

    10% {
        transform: translateX(5px);
    }

    20% {
        transform: translateX(-5px);
    }

    100% {
        transform: translateX(0);
    }
}

.menu-container {
    z-index: 2;
    position: absolute;
    display: flex;
    align-items: stretch;
    overflow: hidden;
    height: 100vh;
    left: 0;
    right: 0;
    pointer-events: none;

}

.menu {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    height: 100vh;
    width: 100vw;
    z-index: 3;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    transform: translateY(-100%);
    transition: transform 0.5s;
    transition-delay: 0.5s;
    visibility: hidden;

    ul {
        list-style: none;
        transition: transform 0.5s;
        li {
            font-family: 'Roboto', sans-serif;
            text-align: center;

            a {
                display: inline-block;
                font-family: 'Roboto', sans-serif;
                color: #ffffff;
                font-family: Roboto;
                font-size: 58px;
                font-weight: 300;
                cursor: pointer;

                &:hover {
                    text-decoration: none;
                    opacity: .7;
                }
            }
        }
        &.openForm{
            transform: translateX(900%);

        }
    }
}

.menu-sliders {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: flex 0.45s;

    &:nth-child(2) {
        flex: 1 0 100%;
        background: transparent;
    }

    &:nth-child(odd) {
        background-color: #21333d;
    }
}

body.menu-open {
    position: relative;

    .menu-sliders:nth-child(2) {
        flex: 0 0 0;
    }

    .menu {
        transform: translateY(0%);
        visibility: visible;
        pointer-events: all;
    }

    #hamburger-wrap,
    #lagnswitch ul{
        color: #fff;
    }

    #hamburger {
        span {
            background: #fff;
        }
    }
}

.menuform__title {
    color: #fff;
    font-size: 50px;
    font-weight: 700;
    line-height: 1;
    margin-bottom: 50px;


    .toggleForm {
        display: inline-block;
        margin-right: 48px;
        font-size: 85px;
        position: relative;
        top: 5px;
        cursor: pointer;

        &:hover {
            animation: left-right 1s;
        }
    }
}

.menuform-container {
    width: 420px;
    max-width: 90%!important;
    position: absolute;
    transform: translateX(-900%);
    transition: transform 0.5s;
    &.openForm{
        transform: translateX(0);
    }
}
.grid{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 0;
    bottom: 0;
    list-style: none;
    li {
        width: 1px;
        height: 100%;
        opacity: .2;
        background-color: #f1f1f1;
        position: absolute;
        z-index: 0;
        top: 0;
        pointer-events: none;
        &:first-child {
            left: -25%;
        }
        &:nth-child(2) {
            left: 15px;
        }
        &:nth-child(3) {
            left: 25%;
        }
        &:nth-child(4) {
            left: 50%;
        }
        &:nth-child(5) {
            left: 75%;
        }
        &:nth-child(6) {
            left: calc(100% - 15px);
        }
        &:last-child {
            left: 125%;
        }
    }
}
