/*MEDIA QUERY*/
@media (max-width: 1845px) {
    .grid{
        li{
            &:first-child {
                display: none;
            }
            &:last-child {
                display: none;
            }
        }

    }
}
@media (max-width: 1440px) {
    .banner__img {
        img {
            max-width: 100%;
        }
    }

    .banner__title:before {
        display: none;
    }
    .banner__title .butn {
    margin-left: 0;
}
}
@media (max-width: 1199px) {
    .banner__title h1 {
        font-size: 66px;
    }
}
@media (max-width: 1023px) {
    #our-works, #testemonials{
        display: none;
    }

}
@media (max-width: 991px) {
    .banner__img {
        text-align: center;
    }

    header {
        padding: 20px 0;
    }

    .menuform__title {
        font-size: 40px;
        margin-bottom: 30px;
    }

    .service {
        padding-left: 15px !important;
        padding-top: 113px !important;

        &__title {
            text-align: center;
        }
    }

    .service__icon {
        top: 0;
        left: 50%;
        transform: translateX(-50%);
    }

    .get-phone {
        padding: 50px;

        .row {
            display: block;
            height: auto;
            text-align: center;
        }

        #get-phone-form {
            max-width: 265px;
            margin: 0 auto;
        }
    }

    #call-to-action {
        padding: 70px 0;
    }

    .get-phone__text {
        display: block;
        font-size: 35px;
        text-align: center;

        p {
            display: block;
        }
    }

    .tab-nav li {
        display: block;
        width: 50%;
        float: left;

        a {
            font-size: 20px;
            padding: 22px 10px 20px;
        }
    }

    .why-img {
        text-align: center;
        margin-bottom: 30px;
    }

    .why-text {
        margin-bottom: 30px;
    }

    #our-works {
        padding: 80px 0;
    }

    .slider__item {
        padding-left: 0;
        padding-top: 210px;
        min-height: 165px;
    }

    .slider__img {
        left: 50%;
        transform: translateX(-50%);
    }

    footer {
        padding-top: 100px;
    }

    .footer__contacts {
        margin-bottom: 30px;
    }

    .footer__form {
        transform: translateX(0);

        .butn {
            display: block;
            margin: 0 auto 30px;
            max-width: 295px;
        }
    }

    .details-col {
        display: none;
    }
    .service__title h3{
        font-size: 27px;
    }
    .slider-nav__item p{
        font-size: 18px;
    }
    .slick-slide img {

    display: inline-block;
}
}
@media (max-width: 767px) {
    .banner__title {
        padding-top: 110px;
    }

    .menu ul li a {
        font-size: 50px;
    }

    .menuform__title {
        font-size: 30px;
        margin-bottom: 20px;
        text-align: center;

        .toggleForm {
            font-size: 70px;
        }
    }

    .menuform-container {
        padding-top: 60px;

        .input-row {
            margin-bottom: 20px;
        }
    }

    .section__title h2 {
        text-align: center;
        font-size: 45px;
    }

    .services-wrap {
        margin: 0;
    }

    .get-phone {
        padding: 50px 15px;
    }

    .our-works-wrapper .work {
        &:nth-child(odd) {
            clear: left;
        }
    }

    .work__img img {
        width: 100%;
    }

    .slider {
        padding: 80px 73px;
    }

    .slick-arrow-left {
        left: 0;
    }

    .slick-arrow-right {
        right: 0;
    }

    #testemonials {
        padding-bottom: 80px;
    }
    .grid{
        display: none;
    }
    .slider-nav__item p {
    font-size: 16px;
    display: inline-block;
    padding-left: 30px;
    padding-right: 30px;
}
}
@media (max-width: 470px) {
    .logo {
        padding-left: 5px;
        padding-right: 5px;
    }

    .banner__title h1 {
        font-size: 48px;
    }

    .banner__title {
        .banner__butn-holder,
        p {
            padding-left: 0;
        }

        .banner__butn-holder {
            text-align: center;
        }

        &:before {
            display: none;
        }

        .butn {
            margin-left: 0;
        }
    }

    #hamburger-wrap {
        width: 35px;

        p {
            display: none;
        }
    }

    #lagnswitch {
        padding-right: 0;

        ul {
            li {
                a {
                    font-size: 13px;
                }

                + li {
                    margin-left: 1px;

                    &:before {
                        margin-right: 1px;
                    }
                }
            }
        }
    }

    .logo {
        padding: 0 5px;
        width: 58.33333333%;
    }

    .hamburger-col {
        padding-left: 5px;
        width: 16.66666667%;
    }

    .menu ul li a {
        font-size: 40px;
    }

    .get-phone__text {
        display: block;
        font-size: 29px;
    }

    .section__title h2 {
        font-size: 36px;
    }

    .our-works-wrapper .work {
        width: 100%;
    }

    .menuform-container textarea.autogrow-short {
        max-height: 80px!important;
    }
}
@media (max-width: 390px) {
    .menu ul li a {
        font-size: 32px;
    }

    .tab-nav li {
        display: block;
        width: 100%;
    }

    .slider {
        padding: 50px;
    }

    .slick-arrow-left {
        span {
            margin-left: -7px;
        }
    }

    .slick-arrow-right {
        span {
            margin-right: -7px;
        }
    }
}
@media (max-width: 577px) {}
@media (max-width: 540px) {}
@media (max-width: 490px) {}
@media (max-width: 380px) {}
