/*
Icon classes can be used entirely standalone. They are named after their original file names.

Example usage in HTML:

`display: block` sprite:
<div class="icon-home"></div>

To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:

// CSS
.icon {
  display: inline-block;
}

// HTML
<i class="icon icon-home"></i>
*/
.icon-land {
  background-image: url(../img/sprite.png);
  background-position: -166px 0px;
  width: 72px;
  height: 75px;
}
.icon-mob {
  background-image: url(../img/sprite.png);
  background-position: 0px 0px;
  width: 73px;
  height: 87px;
}
.icon-seo {
  background-image: url(../img/sprite.png);
  background-position: 0px -92px;
  width: 68px;
  height: 78px;
  left: 33px;
}
.icon-shop {
  background-image: url(../img/sprite.png);
  background-position: -78px 0px;
  width: 83px;
  height: 69px;
}
