//general style
@import url( 'https://fonts.googleapis.com/css?family=Roboto:300,400,700&subset=cyrillic-ext'); // font-family: 'Roboto', sans-serif;

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	outline: none;

	&:active,
	&:focus {
		outline: none!important;
		text-decoration: none!important;
	}
}

html {
	height: 100%;
}

body {
	min-height: 100%;
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
	font-weight: 300;
	position: relative;
}

.clearfix:after,
.clearfix:before {
	content: ' ';
	display: table;
	clear: both;
}
$color-brand: #0084ff;
@mixin pseudo($display: block, $pos: absolute, $content: '') {
	content: $content;
	display: $display;
	position: $pos;
}
@mixin fs($sizeValue: 1.6) {
	font-size: ($sizeValue) + px;
	font-size: ($sizeValue/10) + rem;
}

h1,
h2,
h3,
h4,
h5,
h6,
ul,
ol,
p {
	margin: 0;
	padding: 0;
}

.row-eq-height {
	height: 100%;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
}
/*---=== buttons ===---*/
.butn {
	position: relative;
	min-width: 265px;
	display: inline-block;
	height: 60px;
	line-height: 60px;
	border-radius: 60px;
	box-shadow: 0 15px 30px rgba(43, 54, 62, 0.3);
	background-color: #0085ff;
	border: none;
	color: #ffffff;
	font-size: 24px;
	font-weight: 300;
	padding: 0 35px;
	text-align: center;
	transition: all .3s ease-in-out;
	z-index: 1;
	&:hover{
		background: #265a88;;
		text-decoration: none;
		color:  #fff;
	}
	&_white{
		background-color: #fff;
		color: #1b3f59;
	}

}

/*---=== end buttons ===---*/
@import 'sprite';
@import 'forms';
@import 'header';
@import 'content';
@import 'footer';
@import 'media';
